{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign out" %}{% endblock %}

{% block whitebox %}
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to sign out?" %}</p>
    {% trans "Sign out" as trans_text %}
    {% include "account/_button.html" with text=trans_text %}
  </form>
{% endblock %}
