.blue-main-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doprava-header{
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doprava-h2{
    color: var(--text-color);
}

.doprava-input-form{
    width: 100%;
}
.adding-transport-container,
.doprava-display-container-holder,
.doprava-display-container{
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}
.doprava-display-container{
    flex-direction: row;
    gap: 8px;
    overflow: hidden !important;
    justify-content: flex-start !important;
    position: relative;
    flex-wrap: wrap;
}
.adjust-settings-button{
    align-self: flex-end;
}
.adjust-settings-button button {
    background-color: #007BFF;
    color: var(--text-color);
}
.adjust-settings-button button {
    align-self: flex-start;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*
.edit_user_profile-a-d{
    left: ;
}*/

@media (max-width: 600px) {
    .transport{
        flex-direction: column;
    }
    .transport > *{
        margin-left: 0;
        margin-right: 0;
    }
    .edit_user_profile-a-d{
        position: relative;
        top: 0;
        left: 0;
    }
    .doprava-header{
        margin-bottom: 20px;
    }
    .transport_notes{
        margin-bottom: 10px;
    }
  }
