/*@font-face{
    src:url(../../pics/fonts/Inter/static/Inter-Light.ttf);
    font-family: XMenFont;
}
@font-face{
    src:url(../../pics/fonts/Inter/static/Inter-Regular.ttf);
    font-family: XWoMenFont;
}*/

:root {
    --primary-color: #FFD54F; /* Main accent color for buttons, links, and important elements */
    --secondary-color: #9FA8DA; /* Secondary accent color for additional elements */
    --text-color: #ffffff; /* Main text color */
    --text-color-inv:black;
    --text-color-secondary: #B0BEC5; /* Secondary text color for less important text */
    --background-color: #212121; /* Main background color */
    --background-color-secondary: #424242; /* Secondary background color for additional elements */
    --border-color: #757575; /* Color for borders and dividing lines */
    --link-color: #FFD54F; /* Color for links */
    --link-color-hover: #9FA8DA; /* Color for links on hover */
    --heading-color: #FFFFFF; /* Color for headings */
    --subheading-color: #B0BEC5; /* Color for subheadings */
    --button-background-color: #FFD54F; /* Background color for buttons */
    --button-text-color: #212121; /* Text color for buttons */
    --button-background-color-hover: #9FA8DA; /* Background color for buttons on hover */
    --button-text-color-hover: #FFFFFF; /* Text color for buttons on hover */
    --input-background-color: #424242; /* Background color for input fields */
    --input-text-color: #FFFFFF; /* Text color for input fields */
    --input-border-color: #757575; /* Border color for input fields */
    --input-placeholder-color: #B0BEC5; /* Color for input field placeholders */
    --error-color: #E57373; /* Color for error messages */
    --success-color: #81C784; /* Color for success messages */
    --warning-color: #FFB74D; /* Color for warning messages */
    --info-color: #64B5F6; /* Color for informational messages */
    --nav-background-color: #333333; /* Background color for navigation menu */
    --nav-text-color: #FFFFFF; /* Text color for navigation menu items */
    --nav-text-color-hover: #9FA8DA; /* Text color for navigation menu items on hover */
    --footer-background-color: #212121; /* Background color for footer */
    --footer-text-color: #B0BEC5; /* Text color for footer */
  }
  :root {
    --header-background-color: #212121; /* Background color for header */
    --header-text-color: #FFFFFF; /* Text color for header */
    --header-menu-background-color: #333333; /* Background color for header menu */
    --header-menu-text-color: #FFFFFF; /* Text color for header menu items */
    --header-menu-text-color-hover: #9FA8DA; /* Text color for header menu items on hover */
    --header-menu-border-color: #757575; /* Border color for header menu items */
    --header-menu-li-hover: rgb(187, 184, 171);
  }
  /*stare farbicky*/
  :root {
    --nav-li-a-hover-bgclr: #444;
    --dark-grey: #333;
    --light-grey: #555;
    --rgb: #fff;
    --dropdown-header:#2b2b2b;
    --dropdown-nav: #2b2b2b00;
    --dropdown-menu-button-hover: #363636;
    --V-drpx-li-hover: rgb(99, 97, 90);
    --V-drpx-ul:#ff000000;
    --V-drpx-li: rgb(97, 219, 189);
    --main-bgclr: #22272e;
    --V-drpx-button: #333;
    --product-info1-dropdown-ul:rgb(70, 70, 70);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: auto;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulse2{
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  /*end of fancy buttons*/
  
  /*main style*/
  
  /*.x{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: row;
  }*/
  
  /*image galeria*/
  .image-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    pointer-events: all;
    margin: 5px;
    /*height: 350px;*/
  }
  .main-image img {
    width: auto;
    height: 330px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  .file-name{
    position: relative;
    width: 100px;
    height: 50px;
    color: black;
    z-index: 999;
  }
  .small-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*overflow-x: hidden;*/
    margin: 5px;
    margin-left: 5px;
    height: 335px;
  }
  
  .small-images::-webkit-scrollbar {
    width: 5px;
  }
  
  .small-images::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  
  .small-images::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
  }
  
  .small-image {
    position: relative;
    margin-bottom: 10px;
  }
  
  .small-image:last-child {
    margin-bottom: 0;
  }
  .small-image {
    position: relative;
  }
  
  .small-image img {
    width: 200px;
    height: auto;
    filter: grayscale(100%);
    transition: transform 0.3s ease-out;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .small-image:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
  
  .small-image:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  /*end of image galeria*/
  /*product info*/
  .product-info{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
  }
  .product-info h1, .product-info p{
    justify-self: center;
    align-self: center;
    position: relative;
  }
  .product-info-cena{
    position: absolute;
    width: 25%;
    left: 75%;
    padding: 10px;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
  }
  .product-info-cena p{
    margin-left: 3px;
    font-size: xx-large;
  }
  .product-info-cena a{
    text-decoration: none;
    color: white;
    height: 48px;
    text-decoration: underline;
  }
  .nazov_produktu{
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;
    margin-bottom: 0px;
    width: 600px;
    height: 80px;
    resize: none;
    margin-left: 0;
    align-self: center;
    /*transform: translateY(14%);
    caret-color: black;*/
  }
  .podnazov_produktu{
    font-size: 20px;
    top: 0;
    transform: translateY(-55%);
  }
  input[type="text"]:focus::placeholder,
  textarea[type="text"]:focus::placeholder {
    color: transparent;
  }
  /*end of product info*/
  
  /*obsah*/
  .obsah{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    top: 0;
    height: 500px;
  }
  .obsah-horna-ciarka{
    border: none;
    border-top: 2px solid #333;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    height: 3px;
  }
  .obsah-container {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .obsah-column-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    position: relative;
    width: calc((100% - 50px)*0.45);
    height: auto;
    min-width: 200px;
  }
  
  .obsah-column1,
  .info_produktu{
    width: calc((100% - 50px)*0.55);
    max-height: 380px;
    color: #5a5858; 
    padding: 10px;
    height: 330px;
    z-index: 1;
    overflow-y: scroll;
  }
  .obsah-column1{
    height: calc(420px - 13px);
  }
  .obsah-column1-prvy-text{
    max-width: calc(100% - 15px);
  }
  .info_produktu{
    width: 750px;
    font-size: 16px;
    line-height: 1.5;
    height: 250px;
  }
  .info_nazov_produktu{
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /*vkladanie obrazko*/
  .obrazky-input{
    position: absolute;
    background-color: #414141;
    height: 70px;
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    height: 330px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .upload-icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .upload-text {
    font-size: 18px;
  }
  /*end of vkladanie obrazko*/
  
  
  .obsah-column2,
  .obsah-column3 {
    width: 50%;
    padding: 10px;
    z-index: 1;
    height: 100%;
  }
  .obsah-column3{
    width: 250px;
    transform: translateY(-10px);
  }
  
  .obsah-column2 {
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 250px);
  }
  
  .obsah-column1 h2,
  .obsah-column2 h2,
  .obsah-column3 h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .obsah-column1 p,
  .obsah-column2 p,
  .obsah-column3 p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
  }
  /*submit polozka*/
  
  .obsah-column2 p {
    color: red;
  }
  
  .obsah-column2.success p {
    color: green;
  }
  
  /*end of submit polozka*/
  /*cena*/
  .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
  }
  
  .price label, 
  .converted-price{
    margin-left: 20px;
  }
  
  .price input[type="number"],
  .transport input[type="number"]{
    width: 100px;
    padding: 7px;
  }
  
  .price select,
  .unit select,
  .transport select,
  .transport-button{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }
  .transport button{
    margin-left: 50px;
  }
  .price label.price-first,
  .transport label.doprava-first{
    margin-left: 0;
    padding: 0;
  }
  select{
    cursor: pointer;
  }
  .cena-container-label{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .cena-h2,
  .doprava-h2{
    margin-bottom: 20px;
  }
  .cena-h4{
    margin-top: 20px;
  }
  .product-info-pouzivatel{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
  }
  .transport-textarea {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    resize: both;
    position: relative;
    margin-left: 50px;
    transform: translateY(50%);
  }
  
  .nice-textarea::placeholder {
    color: #999;
  }
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .moznost-dopravy{
      margin-left: 350px;
  }
  .doprava-header {
      display: flex;
      align-items: center;
  }
  /*end of cena*/
  /*end of obsah*/
  
  /*cena*/
  .cena, .doprava{
    height: 472px;
    width: 100%;
    background-color: transparent;
    padding: 40px;
    flex-direction: column;
  }
  .doprava{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21f32ca1;
  }
  .cena{
    height: auto;
  }
  /*end of cena*/
  
  /*menu-sticker*/
  .menu-sticker{
    position: sticky;
    width: calc((100% - 0px)*0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: column;
    border-bottom: 0;
    padding: 40px;
    height: calc(392px + 40px); 
    right: 50px;
    top: calc(445px + 12px + 10px + 50px);
    padding-left: 0;
    z-index: 3;
    top: calc(50% - 216px);
    margin-right: 50px;
    left: calc(100%);
  }
  .menu-sticker-indent{
    height: calc(445px + 12px + 10px + 50px + 20px);
    width: 100%;
    z-index: -1;
  }
  .menu-sticker-button{
    width: 100%;
    height: calc(25%);
    pointer-events: all;
    z-index: 3;
    cursor: pointer;
    border: var(--menu-sticker-button-bd) solid var(--menu-sticker-button-bdclr);
    background-color: transparent;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 0;
    min-width: 180px;
  }
  .menu-sticker-button a{
    text-decoration: none;
    color: white;
    z-index: 3;
  }
  .menu-sticker-button:last-child{
    border-bottom: var(--menu-sticker-button-bd) solid var(--menu-sticker-button-bdclr);
  }
  .menu-sticker-button:hover{
    background-color: #333;
  }
  .form-pridavanie-polozky{
    width: 100%;
    height: 100%;
    position: relative;
  }
  /*end of menu-sticker*/
  /*end of the main style*/
  
  /*sticker menu*/
  .menu-sticker2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-sticker-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    pointer-events: all;
  }
  .menu-sticker-button:hover{
    text-decoration: none;
  }
  /*end of sticker menu*/
  .main-transport,
  .main-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    min-height: 150px;
    padding: 15px;
    margin-bottom: 10px;
  }
  .transport{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .transport_notes{
    margin-left: 15px;
  }
  .transport-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .dopravax a{
    text-decoration: none;
    color: yellow;
    margin-bottom: 10px;
  }
  .transport,
  .price {
    display: flex;
    flex-wrap: wrap;  /* allow wrapping of elements for better responsiveness */
    gap: 10px;        /* set a gap between each element */
    min-height: 120px;
  }
  
  .input-wrapper-dop {
    display: flex;  /* making it flex will ensure the children always stay in a row */
    align-items: center;  /* vertically center the child elements */
  }
  
  .transport label,
  .price label {
    margin-right: 10px;  /* space between label and input */
  }
  
  .transport input[type="number"],
  .price input[type="number"]{
    flex: 1;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    appearance: none;
    position: relative;
    width: 120px;
  }
  
  .transport .currency-dop,
  .transport .unit-dop,
  .price .currency-dop,
  .price .unit-dop {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    width: 70px;
    appearance: none;  
    background: #fff url('arrow.svg') no-repeat right 10px center;  
    padding-right: 25px;  
  }
  
  
  .transport select::after,
  .price select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #333;
    background-color: #333;
  }
  .cenay,
  .dopravay{
    padding: 0;
    margin: 0;
    width: 1250px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media only screen
  and (min-width : 50px)
  and (max-width : 600px){
    .small-images{
      display: none;
    }
    .form-pridavanie-polozky,
    .obsah-horna-ciarka,
    .obsah-container{
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: 100px;
    }
    .product-info{
      display: flex;
      flex-direction: column;
      position: relative;
      height: auto;
      min-width: 200px;
    }
    .product-info h1, .product-info p{
      position: relative;
    }
    .nazov_produktu,
    .product-info-cena{
      position: relative;
      transform: translate(0);
      height: 80px;
      width: 80%;
      min-width: 100px;
      align-self: center;
      left: 0;
      top: 0;
    }
    .obsah,
    .obsah-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      padding: 0px;
    }
    .obsah{
      padding: 20px;
    }
    .obsah-horna-ciarka *,
    .obsah-column1 *,
    .obsah-column-container *,
    .obsah-horna-ciarka,
    .obsah-column1,
    .obsah-column-container{
      left: 0;
      position: relative;
      max-width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .obsah-column2{
      border: 0;
    }
    .obsah-horna-ciarka{
      width: 100%;
      position: relative;
      flex-direction: column;
      left: 0;
    }
    .obsah-column1,
    .obsah-column-container,
    .obsah-column2,
    .obsah-column3{
      width: 100%;
      position: relative;
      flex-direction: column;
      left: 0;
      padding: 0;
      height: auto;
    }
    .obsah-column-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0;
      left: 0;
      position: relative;
      width: auto;
      height: auto;
      min-width: 100px;
      width: 100%;
    }
    .menu-sticker2,
    .menu-sticker-button,
    .obsah-column3{
      position: relative;
      min-width: 60px;
      max-width: 150px;
      height: 75px;
    }
    .nazov_produktu{
      font-size: 20px;
      margin: 0;
      height: 40px;
    }
    .product-info-cena{
      font-size: 18px;
      margin: 0;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
    }
    .product-info-cena p{
      font-size: 18px;
    }
    .info_produktu{
      min-height: 250px;
    }
    .info_nazov_produktu,
    .obsah-horna-ciarka{
      top: 0;
      position: relative;
      font-size: 16px;
      width: 100%;
    }
    .cenax,
    .dopravax{
      min-width: 200px;
    }
    .image-container{
      width: 100%;
      position: relative;
      min-height: 200px;
      min-width: calc(100%);
    }
    .main-image{
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      min-height: 200px;
      min-width: 100%;
      padding: 20px;
    }
    .custom-file-upload{
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 160px;
    }
    .cenax,
    .dopravax{
      padding: 5px;
    }
    .price{
      flex-direction: column;
      align-items: flex-start;
    }
    /*transport*/
    /* Styles for the main transport div */
    .main-transport,
    .transport,
    .main-price {
      flex-direction: column;
      min-height: 100px;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
      padding: 0;
    }
    .doprava-display-container-holder{
      padding-left: 0;
      padding-right: 0;
    }
    .transport_notes{
      margin-left: 0;
    }
  
  
    /* Styles for the submit button */
    /* Styles for the submit button */
  
    /*.transport-textarea {
      height: auto; 
      margin-bottom: 3px;
      padding: 5px;
    }*/
  
    .circular-button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  
    .transport-add {
      color: white;
      background-color: green;
      pointer-events: all;
      cursor: pointer;
    }
  
    .doprava-input-form {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .doprava-input {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dopravax .dopravax-h2{
      margin-top: 30px;
    }
    .dopravax-h2{
      margin-bottom: 5px;
    }
    .transport-info{
      flex-direction: column;
      margin-bottom: 10px;
    }
    .transport-info h3{
      margin-bottom: 10px;
    }
    /*end of transport*/
    .price{
      gap: 5px;
    }
    .transport{
      flex-direction: column;
      gap: 5px;
      background-color: #000000;
      border-radius: 5px;
    }
    .transport-add{
      margin: 0;
    }
    .doprava-h2{
      position: relative;
      font-size: 25px;
    }
    .doprava-header{
      margin-bottom: 0;
    }
    .edit_user_profile-a-d{
      position: relative;
      top: 0;
      left: 0;
    }
    .price label{
      margin-left: 0;
    }
  }