filipriec/
obrasteky/
staticfiles/*
static/*
*.pyc
.env
config/
farmeris/settings_zaloha.py
media/*
.vscode
git_commands.txt
my_hashed_passwords.txt
.oauth
.secret
.env
generate_secret_key.py
venv_farmeris
*~
gitlab

