filipriec/
obrasteky/
staticfiles/*
static/*
*.pyc
.env
config/
login_project/settings_zaloha.py
media/*
.vscode
git_commands.txt
my_hashed_passwords.txt
.oauth
.secret
.env
login_project/settings.py
generate_secret_key.py