



/*pagination colors dark mode*/
:root {
  --pagination-background: #e9ecef;
  --pagination-text: #1b1b1b;
  --pagination-border: #ddd;
  --pagination-hover: #4c4d4c;
  --pagination-highlight: #3dbef1;
  --pagination-disabled: #888;
}

/*light mode*/
:root {
  --pagination-background: #f3f4f6; 
  --pagination-text: #333; 
  --pagination-border: #e0e0e0; 
  --pagination-hover: #d9d9d9; 
  --pagination-highlight: #007BFF; 
  --pagination-disabled: #b0b0b0; 
}


  
/* manifesto document light mode style   */
:root {
    --manifesto-font-color: #333;
    --manifesto-background: var(--sidebar-bgclr);
    --manifesto-content-bg: #fff;
    --manifesto-border-color: #ddd;
    --manifesto-title-color: #0077cc;
    --manifesto-heading-color: #006699;
    --manifesto-section-num-color: #999;
    --manifesto-link-color: #006699;
    --manifesto-link-hover: #004466;
    --manifesto-border-bottom: #eee;
}

  

:root {
  --polozka-pridanie-bg-color: #1e1e1e;
  --polozka-pridanie-text-color: #e5e5e5;
  --polozka-pridanie-label-color: #ddd;
  --polozka-pridanie-textarea-bg: #444;
  --polozka-pridanie-border-color: var(--pinkbd);
  --polozka-pridanie-input-bg: #cecece;
  --polozka-pridanie-select-bg: #444;
  --polozka-pridanie-text-colorb: #000;
  --polozka-pridanie-button-red-bg: #f54545;
  --polozka-pridanie-button-red-hover-bg: #d13434;
  --polozka-pridanie-button-green-bg: #4CAF50;
  --polozka-pridanie-button-green-hover-bg: #43A047;
  --polozka-pridanie-menu-sticker-button-bd: 1px;
  --polozka-pridanie-menu-sticker-button-bdclr: #555;
}




/*united price transport style*/
:root{
  --united-input-display-bgclr: #999;
  --united-input-display-clr: var(--text-color);
  --polozka-pridanie-text-reversed-color: var(--text-color);
  --polozka-pridanie-select-option-bgclr: #444;
  --polozka-pridanie-select-option-clr: white;
}

/*#90F3FF*/
/*HLAVNE FARBICKY ZMENA*/
:root {
  --pinkbd: black !important;
  --text-color: #000;
  --sidebar: #90BEDE;/*main color*/
  --sidebar-bgclr: #E5E1EE;/*sidebar background*/
  /*--sidebar: #5f818a;
  --sidebar-bgclr: rgb(247, 159, 207);*/
  --login-signup-bgclr-hvr: #F1F4F8 !important;/*hover of buttons color*/
  --united-input-display-bgclr: var(--login-signup-bgclr-hvr);/*input background*/
  --nav-li-a-hover-bgclr: var(--login-signup-bgclr-hvr); /* sidebar button hover - default #444*/

}
:root{
  --header-background-color: var(--sidebar-bgclr);
  --footer-background-color: var(--sidebar-bgclr);
  --background-color: var(--sidebar-bgclr);
  --sidebar-menu-item-lang-bgclr: var(--sidebar-bgclr);
  --header-left-menu-bgclr: var(--sidebar);
}
/*sidebar txt*/
:root{
  --sidebar-menu-item-lang-txtclr: rgb(199, 199, 199);
  --login-signup-bgclr: var(--sidebar-bgclr);
  --sidebar-menu-txtclr: var(--text-color) !important;
  --sidebar-focused-bgclr: var(--nav-li-a-hover-bgclr);
  --sidebar-li-a-bd: 1px;
}
/*search*/
:root{
  --search-btn-mrgn-hvr: 0;
}

:root{
  --login-signup-bd: 1px;
  --nav-li-a-hover-bd: 1px;
  --sidebar-menu-button-bd-hvr: 1px;
  --header-main-menu-button-bd-hvr: 1px;
  --nav-li-a-hover-bd: 1px;
  --search-btn-bd: 1px;
  --submit-btn-polozka-pridanie-bd: 1px;
}
/*pagination*/
:root{
  --pagination-disabled:#5f5f5f;
}
/*polozka pridanie/zobrazenie*/
:root{
  /*--zob-stick-btn-hvr: var(--login-signup-bgclr-hvr);*/
  --product-dark-bg: #717D98;
  --product-dark-bg: #C2C9D6;
  --product-lighter-dark-bg: #C2BDC7;
  --product-primary-color-hvr: #007BFF;
  --product-text-primary-color: var(--text-color);
  --delete-btn-user-profile-invert: invert(0);
}
/*profile settings*/
:root{
  --content-user-settings-bgclr: var(--sidebar-bgclr);
  --content-user-settings-input-bgclr: var(--login-signup-bgclr-hvr);
  --profile-info-bgclr: #fafafa;
  --h5-clr: #2a2a2a;
  --profile-header-h1-user-profile-clr: #333 !important;
}
/*user_profile*/
:root{
  --tab-item-link-user-profile: #C2BDC7;
}

/*header menu*/
:root{
  --header-menu-search-button-bgclr: var(--sidebar-bgclr);
}

/* main bg picture */
:root {
    --main-bg-image: url('../media/main_bg.png');
    --main-bg-image-mobile: url('../media/main_bg_cut.png');
}

/* main logo for title */
:root {
    --farmeris-logo-filter: none;
}
