
/* Responsive Design Adjustments */
@media screen and (max-width: 1050px) {

    .search-form{
        display: none;
    }

    .search-form-mobile{
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        flex-shrink
        max-width: 400px;
 0;
    }

    .header-menu-btn:first-of-type {
        margin-left: 0px;
    }

    .header-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        background-color: var(--header-bg-mobile);
        width: 100%;
    }

    .search-form {
        width: 100%;
        margin-bottom: 15px;
    }

    .search-field, .search-button {
        width: auto;
    }

    .search-field{
        min-width: 120px;
        flex-grow: 1;
        margin-right: 10px;
        width: auto;
        /* max-width: calc(100% - 80px); */
    }

    .search-button{
        min-width: 70px;
        margin-right: 0;
        flex-shrink: 0;
        width: 100px;
    }

    .header-menu-btn {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    .header-btn {
        width: auto;
        min-width: 130px;
        text-align: left;
        margin-left: 0;
    }

}
