.header-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    width: 100% !important;
}

.search-form, .search-form-mobile {
    display: flex;
    align-items: center;
}

.search-form-mobile{
    display: none;
}

.search-field {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid var(--header-main-menu-btn-bdclr);
    border-radius: 4px;
    font-size: 16px;
}

.search-button, .header-btn,
.header-menu-btn{
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    color: var(--text-color);
    border: 1px solid var(--header-main-menu-btn-bdclr);
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-btn:hover,
.header-menu-btn{
    text-decoration: none;
}

.search-button{
    margin-left: 0;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.search-button::after {
    content: '';
    background-color: var(--header-menu-search-button-bgclr);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.search-button:hover, .header-btn:hover, .search-field:hover {
    background-color: var(--nav-li-a-hover-bgclr);
    /* border: var(--sidebar-menu-button-bd-hvr) solid var(--sidebar-menu-button-bdclr-hvr); */
    border: var(--header-main-menu-button-bd-hvr) solid var(--header-main-menu-button-bdclr-hvr);
}


.header-menu-btn:first-of-type {
    margin-left: 20px;
}

.header-btn a,
.header-menu-btn{
    text-decoration: none;
    color: var(--text-color);
}

.hidden {
    display: none !important;
}
