

.pobocka-pic-width-height{
    width: 230px;
    height: 230px;
}

@media only screen
and (min-width : 50px)
and (max-width : 600px){
    .pobocka-pic-width-height{
        width: 200px;
        height: 200px;
    }
}
