
:root{
  --dropdown-header-height: 0px;
}

/* Base styles for the container */
.sidebar-hide-show-btn-container {
    position: absolute;
    width: 30px;
    height: calc(100% - var(--dropdown-header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.sidebar-hide-show-btn {
    position: fixed;
    top: 50vh;
    left: var(--sidebar-width);
    width: 30px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.left-bar, .right-bar,
.left-bar-bg, .right-bar-bg{
  position: absolute;
  background-color: var(--sidebar-bgclr);
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 4px;  /* Length of the bar */
  height: 10px;  /* Thickness of the bar */
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.left-bar-bg, .right-bar-bg{
  width: 6px;
  height: 12px;
  background-color: var(--pinkbd);
}

.left-bar, .left-bar-bg {
  transform-origin: center bottom;
}
.right-bar, .right-bar-bg {
  top: 19px;
  transform-origin: center top;
}

.right-bar-bg{
  height: 10px;
  top: 18px;
  border-radius: 10px 10px 10px 0px;
}

.sidebar-hide-show-btn:hover .left-bar-bg{
  transform: translate(calc(-50% + 0.4px), -50%) rotate(-20deg) !important;
}

.sidebar-hide-show-btn:hover .right-bar-bg{
  transform: translate(calc(-50% + 0.4px), -50%) rotate(20deg) !important;
  border-radius: 10px 10px 10px 0px !important;
}

.sidebar-hide-show-btn:hover .left-bar,
.sidebar-hide-show-btn:hover .left-bar-bg{
  transform: translate(-50%, -50%) rotate(-20deg); /* Rotate to flat for the active state */
}

.sidebar-hide-show-btn:hover .right-bar,
.sidebar-hide-show-btn:hover .right-bar-bg{
  transform: translate(-50%, -50%) rotate(20deg); /* Rotate to flat for the active state */
}
.sidebar-hide-show-btn:not(:hover) .left-bar,
.sidebar-hide-show-btn:not(:hover) .left-bar-bg,
.sidebar-hide-show-btn:not(:hover) .right-bar,
.sidebar-hide-show-btn:not(:hover) .right-bar-bg {
  transform: translate(-50%, -50%) rotate(0deg);
}





.sidebar-hide-show-btn.sidebar-hidden:hover .left-bar-bg{
  transform: translate(calc(-50% - 0.4px), -50%) rotate(20deg) !important;
}

.sidebar-hide-show-btn.sidebar-hidden:hover .right-bar-bg{
  transform: translate(calc(-50% - 0.4px), -50%) rotate(-20deg) !important;
  border-radius: 10px 10px 0px 10px !important;
}

.sidebar-hide-show-btn.sidebar-hidden:hover .left-bar,
.sidebar-hide-show-btn.sidebar-hidden:hover .left-bar-bg{
  transform: translate(-50%, -50%) rotate(20deg); /* Rotate to flat for the active state */
}

.sidebar-hide-show-btn.sidebar-hidden:hover .right-bar,
.sidebar-hide-show-btn.sidebar-hidden:hover .right-bar-bg{
  transform: translate(-50%, -50%) rotate(-20deg); /* Rotate to flat for the active state */
}
.sidebar-hide-show-btn.sidebar-hidden:not(:hover) .left-bar,
.sidebar-hide-show-btn.sidebar-hidden:not(:hover) .left-bar-bg,
.sidebar-hide-show-btn.sidebar-hidden:not(:hover) .right-bar,
.sidebar-hide-show-btn.sidebar-hidden:not(:hover) .right-bar-bg {
  transform: translate(-50%, -50%) rotate(0deg);
}



@media only screen
and (min-width : 50px)
and (max-width : 600px){
  .sidebar-hide-show-btn-container,
  .sidebar-hide-show-btn,
  .sidebar-hide-show-btn.sidebar-hidden,
  .sidebar-hide-show-btn.sidebar-shown,
  .sidebar-hidden,
  .sidebar-shown,
  .left-bar-bg,
  .left-bar,
  .right-bar-bg,
  .right-bar{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
  }

}
