
/* .main-container{ */
/*   position: relative; */
/*   width: 100%; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   flex-direction: column; */
/*   top: 0; */
/*   left: 0; */
/*   padding: 15px; */
/*   min-height: calc(100vh - 600px); */
/*   color: var(--text-color); */
/* } */


/* Base styles for main-container */
.main-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 15px;
  min-height: calc(100vh - 600px);
  color: var(--text-color);
/*  background: yellow; /* Define a background variable or color */
  font-family: 'Open Sans', sans-serif; /* A modern, readable font */
  text-align: left;
}

/* Heading styles */
.main-container h2, .main-container h3 {
  width: 100%;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 10px;
}

/* Paragraph styles */
.main-container p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* List styles */
.main-container ul {
  list-style: inside; /* Bullets/numbers inside the content flow */
  margin-left: 20px;
  margin-bottom: 15px;
}

.main-container li {
  margin-bottom: 5px;
}

/* Strong tag within list to emphasize certain words */
.main-container li strong {
  color: var(--accent-color); /* Use an accent color for important words */
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-container {
    padding: 15px;
    min-height: auto; /* Adjust minimum height for mobile devices */
  }

  .main-container h2, .main-container h3 {
    text-align: center; /* Center align headings on smaller screens */
  }

  .main-container ul {
    margin-left: 10px; /* Adjust list margin for smaller screens */
  }
}
