.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: var(--text-color);
}

.contact-form form,
.podcasts-section {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #4CAF50;
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.podcasts-section ul {
    list-style: none;
    padding: 0;
}

.podcast-list li {
    margin-bottom: 15px;
}

.podcast-list a {
    color: #007bff;
    text-decoration: none;
}

.podcast-list a:hover {
    text-decoration: underline;
}
