
#content {
    font-family: 'Times New Roman', serif;
    color: var(--manifesto-font-color);
    /* background-color: var(--manifesto-content-bg); */
    width: 100%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* border: 1px solid var(--manifesto-border-color); */
    border: 1px solid var(--sidebar-bdclr);
    border-radius: 5px;
    background-color: var(--sidebar-bgclr);
}

.title {
    font-size: 2em;
    text-align: center;
    color: var(--manifesto-title-color);
    margin-bottom: 30px;
}

#table-of-contents h2 {
    font-size: 1.5em;
    color: var(--manifesto-heading-color);
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 20px;
}

a {
    color: var(--manifesto-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--manifesto-link-hover);
}

.outline-2 h2, .outline-3 h3 {
    margin-top: 20px;
    border-bottom: 1px solid var(--manifesto-border-bottom);
    padding-bottom: 5px;
}

.section-number-2, .section-number-3 {
    color: var(--manifesto-section-num-color);
}

.outline-text-2, .outline-text-3 {
    margin-left: 20px;
    margin-top: 10px;
}

.org-ul li{
    margin-bottom: 4px;
}

#postamble {
    background: var(--manifesto-content-bg);
    border-top: 1px solid var(--manifesto-border-color);
    padding: 20px;
    margin: 20px;
    text-align: right;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    font-family: 'Times New Roman', serif;
    color: var(--manifesto-font-color);
    border: 1px solid var(--sidebar-bdclr);
    border-radius: 5px;
    background-color: var(--sidebar-bgclr);

}


@media screen and (max-width: 1100px) {
    #content {
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }

    #postamble {
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
}
