
{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/search2.css' %}" rel="stylesheet">
    <link href="{% static 'css/polozka_profile_view.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/polozka_profile_view2.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main_menu.css' %}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block polozka %}
    {% include 'main_menu.html' %}

    <div class="main-container">
        <h1>{% trans "About Farmeris" %}</h1>
        <p>{% trans "Farmeris: Connecting Slovakia's Agriculture with Tomorrow." %}</p>
        <p>{% trans "Welcome to Farmeris, the cornerstone for cultivating connections within Slovakia's agricultural community. At its core, Farmeris is not just a platform; it's a vision for the future—a future where every farmer and local producer has the opportunity to share their story, showcase their products, and connect directly with consumers and other businesses." %}</p>

        <h3>{% trans "Our Purpose" %}</h3>
        <ul>
            <li><strong>{% trans "Post Offers:" %}</strong> {% trans "Highlight what makes your products special." %}</li>
            <li><strong>{% trans "Build Profiles:" %}</strong> {% trans "Share your farming journey, practices, and passion." %}</li>
            <li><strong>{% trans "Connect:" %}</strong> {% trans "Link your socials and location for easy community and customer outreach." %}</li>
        </ul>
        <p>{% trans "We are the stage, but our users are the stars—each with their own stories, products, and ambitions." %}</p>

        <h3>{% trans "Our Vision" %}</h3>
        <p>{% trans "Looking forward, Farmeris aims to:" %}</p>
        <ul>
            <li><strong>{% trans "Empower Rural Economies:" %}</strong> {% trans "By providing a platform where farmers can easily connect with a wider audience, we hope to boost local economies and support the agricultural sector." %}</li>
            <li><strong>{% trans "Foster Transparency:" %}</strong> {% trans "We believe in the power of information. By allowing farmers to share their practices and products directly, we aim to foster a greater understanding and appreciation for the agricultural process." %}</li>
            <li><strong>{% trans "Strengthen Community Ties:" %}</strong> {% trans "Farmeris envisions a future where the gap between rural and urban communities is bridged, fostering a stronger, more unified Slovakia." %}</li>
        </ul>

        <h3>{% trans "Why Join Farmeris?" %}</h3>
        <ul>
            <li><strong>{% trans "Visibility:" %}</strong> {% trans "Increase your reach and showcase your farm or production to a wider audience." %}</li>
            <li><strong>{% trans "Community:" %}</strong> {% trans "Become part of a growing network of agricultural professionals and enthusiasts." %}</li>
            <li><strong>{% trans "Future Opportunities:" %}</strong> {% trans "As Farmeris grows, so will the opportunities for collaboration, innovation, and expansion." %}</li>
        </ul>

        <p>{% trans "Join Our Journey" %}</p>
        <p>{% trans "Farmeris is more than a platform—it's a promise of potential, a seed of opportunity waiting to sprout. Whether you're a farmer, producer, consumer, or simply someone who believes in the power of connection, we invite you to join us as we grow." %}</p>
        <p>{% trans "Visit farmeris.sk today to create your profile, post your offers, or just explore the future of Slovak agriculture with us." %}</p>
        <p>{% trans "Farmeris: Where Slovakia's Agricultural Future Grows." %}</p>
    </div>
{% endblock %}
