

{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <link href="{% static 'css/search2.css' %}" rel="stylesheet">
    <link href="{% static 'css/polozka_profile_view.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/polozka_profile_view2.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main_menu.css' %}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block polozka %}
    {% include 'main_menu.html' %}

    <div class="contact-container">
        <h2>{% trans "Contact Us" %}</h2>
        <p>{% blocktrans %}Have questions, feedback, or want to know more about Farmeris? Reach out to us!{% endblocktrans %}</p>


        <div class="contact-form">
            <form action="{% url 'texts:contact' %}" method="POST">
                {% csrf_token %}
                <label for="name">{% trans "Name:" %}</label>
                <input type="text" id="name" name="name" placeholder="{% trans 'Your name' %}" value="{{ request.user.username|default_if_none:'' }}" required>

                <label for="email">{% trans "Email:" %}</label>
                <input type="email" id="email" name="email" placeholder="{% trans 'Your email' %}" value="{{ request.user.email|default_if_none:'' }}" required>

                <label for="message">{% trans "Message:" %}</label>
                <textarea id="message" name="message" rows="4" placeholder="{% trans 'Your message...' %}" required></textarea>

                <button type="submit">{% trans "Send Message" %}</button>
            </form>
        </div>

        {% comment %}
        <!-- <div class="podcasts-section">
        <h3>Farmers podcast</h3>
        <p>Explore our latest discussions on agriculture, innovation, and community stories.</p>
        <ul class="podcast-list">
        {% for podcast in podcasts %}
        <li>
        <a href="{{ podcast.link }}" target="_blank">{{ podcast.title }}</a>
        <p>{{ podcast.description }}</p>
        </li>
        {% endfor %}
        </ul>
        </div> -->
        {% endcomment %}
    </Div>

{% endblock %}

<!-- <h3>farmeris-sk@proton.me</h3> -->
