
{% extends 'polozka_new.html' %}
{% load static i18n %}

{% block extra_css_polozka %}
    <!-- <?xml version="1.0" encoding="utf-8"?>
         <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
         <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1" />
         <title>Manifesto pre Podporu Surového Mlieka na Slovensku</title>
         <meta name="author" content="Tím Farmeris" />
         <meta name="generator" content="Org Mode" />
         <style>
         #content, #postamble {
         color: var(--text-color);
         }
         #content { max-width: 60em; margin: auto; }
         .title  { text-align: center;
         margin-bottom: .2em; }
         .subtitle { text-align: center;
         font-size: medium;
         font-weight: bold;
         margin-top:0; }
         .todo   { font-family: monospace; color: red; }
         .done   { font-family: monospace; color: green; }
         .priority { font-family: monospace; color: orange; }
         .tag    { background-color: #eee; font-family: monospace;
         padding: 2px; font-size: 80%; font-weight: normal; }
         .timestamp { color: #bebebe; }
         .timestamp-kwd { color: #5f9ea0; }
         .org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
         .org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
         .org-center { margin-left: auto; margin-right: auto; text-align: center; }
         .underline { text-decoration: underline; }
         #postamble p, #preamble p { font-size: 90%; margin: .2em; }
         p.verse { margin-left: 3%; }
         pre {
         border: 1px solid #e6e6e6;
         border-radius: 3px;
         background-color: #f2f2f2;
         padding: 8pt;
         font-family: monospace;
         overflow: auto;
         margin: 1.2em;
         }
         pre.src {
         position: relative;
         overflow: auto;
         }
         pre.src:before {
         display: none;
         position: absolute;
         top: -8px;
         right: 12px;
         padding: 3px;
         color: #555;
         background-color: #f2f2f299;
         }
         pre.src:hover:before { display: inline; margin-top: 14px;}
         /* Languages per Org manual */
         pre.src-asymptote:before { content: 'Asymptote'; }
         pre.src-awk:before { content: 'Awk'; }
         pre.src-authinfo::before { content: 'Authinfo'; }
         pre.src-C:before { content: 'C'; }
         /* pre.src-C++ doesn't work in CSS */
         pre.src-clojure:before { content: 'Clojure'; }
         pre.src-css:before { content: 'CSS'; }
         pre.src-D:before { content: 'D'; }
         pre.src-ditaa:before { content: 'ditaa'; }
         pre.src-dot:before { content: 'Graphviz'; }
         pre.src-calc:before { content: 'Emacs Calc'; }
         pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
         pre.src-fortran:before { content: 'Fortran'; }
         pre.src-gnuplot:before { content: 'gnuplot'; }
         pre.src-haskell:before { content: 'Haskell'; }
         pre.src-hledger:before { content: 'hledger'; }
         pre.src-java:before { content: 'Java'; }
         pre.src-js:before { content: 'Javascript'; }
         pre.src-latex:before { content: 'LaTeX'; }
         pre.src-ledger:before { content: 'Ledger'; }
         pre.src-lisp:before { content: 'Lisp'; }
         pre.src-lilypond:before { content: 'Lilypond'; }
         pre.src-lua:before { content: 'Lua'; }
         pre.src-matlab:before { content: 'MATLAB'; }
         pre.src-mscgen:before { content: 'Mscgen'; }
         pre.src-ocaml:before { content: 'Objective Caml'; }
         pre.src-octave:before { content: 'Octave'; }
         pre.src-org:before { content: 'Org mode'; }
         pre.src-oz:before { content: 'OZ'; }
         pre.src-plantuml:before { content: 'Plantuml'; }
         pre.src-processing:before { content: 'Processing.js'; }
         pre.src-python:before { content: 'Python'; }
         pre.src-R:before { content: 'R'; }
         pre.src-ruby:before { content: 'Ruby'; }
         pre.src-sass:before { content: 'Sass'; }
         pre.src-scheme:before { content: 'Scheme'; }
         pre.src-screen:before { content: 'Gnu Screen'; }
         pre.src-sed:before { content: 'Sed'; }
         pre.src-sh:before { content: 'shell'; }
         pre.src-sql:before { content: 'SQL'; }
         pre.src-sqlite:before { content: 'SQLite'; }
         /* additional languages in org.el's org-babel-load-languages alist */
         pre.src-forth:before { content: 'Forth'; }
         pre.src-io:before { content: 'IO'; }
         pre.src-J:before { content: 'J'; }
         pre.src-makefile:before { content: 'Makefile'; }
         pre.src-maxima:before { content: 'Maxima'; }
         pre.src-perl:before { content: 'Perl'; }
         pre.src-picolisp:before { content: 'Pico Lisp'; }
         pre.src-scala:before { content: 'Scala'; }
         pre.src-shell:before { content: 'Shell Script'; }
         pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
         /* additional language identifiers per "defun org-babel-execute"
         in ob-*.el */
         pre.src-cpp:before  { content: 'C++'; }
         pre.src-abc:before  { content: 'ABC'; }
         pre.src-coq:before  { content: 'Coq'; }
         pre.src-groovy:before  { content: 'Groovy'; }
         /* additional language identifiers from org-babel-shell-names in
         ob-shell.el: ob-shell is the only babel language using a lambda to put
         the execution function name together. */
         pre.src-bash:before  { content: 'bash'; }
         pre.src-csh:before  { content: 'csh'; }
         pre.src-ash:before  { content: 'ash'; }
         pre.src-dash:before  { content: 'dash'; }
         pre.src-ksh:before  { content: 'ksh'; }
         pre.src-mksh:before  { content: 'mksh'; }
         pre.src-posh:before  { content: 'posh'; }
         /* Additional Emacs modes also supported by the LaTeX listings package */
         pre.src-ada:before { content: 'Ada'; }
         pre.src-asm:before { content: 'Assembler'; }
         pre.src-caml:before { content: 'Caml'; }
         pre.src-delphi:before { content: 'Delphi'; }
         pre.src-html:before { content: 'HTML'; }
         pre.src-idl:before { content: 'IDL'; }
         pre.src-mercury:before { content: 'Mercury'; }
         pre.src-metapost:before { content: 'MetaPost'; }
         pre.src-modula-2:before { content: 'Modula-2'; }
         pre.src-pascal:before { content: 'Pascal'; }
         pre.src-ps:before { content: 'PostScript'; }
         pre.src-prolog:before { content: 'Prolog'; }
         pre.src-simula:before { content: 'Simula'; }
         pre.src-tcl:before { content: 'tcl'; }
         pre.src-tex:before { content: 'TeX'; }
         pre.src-plain-tex:before { content: 'Plain TeX'; }
         pre.src-verilog:before { content: 'Verilog'; }
         pre.src-vhdl:before { content: 'VHDL'; }
         pre.src-xml:before { content: 'XML'; }
         pre.src-nxml:before { content: 'XML'; }
         /* add a generic configuration mode; LaTeX export needs an additional
         (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
         pre.src-conf:before { content: 'Configuration File'; }

         table { border-collapse:collapse; }
         caption.t-above { caption-side: top; }
         caption.t-bottom { caption-side: bottom; }
         td, th { vertical-align:top;  }
         th.org-right  { text-align: center;  }
         th.org-left   { text-align: center;   }
         th.org-center { text-align: center; }
         td.org-right  { text-align: right;  }
         td.org-left   { text-align: left;   }
         td.org-center { text-align: center; }
         dt { font-weight: bold; }
         .footpara { display: inline; }
         .footdef  { margin-bottom: 1em; }
         .figure { padding: 1em; }
         .figure p { text-align: center; }
         .equation-container {
         display: table;
         text-align: center;
         width: 100%;
         }
         .equation {
         vertical-align: middle;
         }
         .equation-label {
         display: table-cell;
         text-align: right;
         vertical-align: middle;
         }
         .inlinetask {
         padding: 10px;
         border: 2px solid gray;
         margin: 10px;
         background: #ffffcc;
         }
         #org-div-home-and-up
         { text-align: right; font-size: 70%; white-space: nowrap; }
         textarea { overflow-x: auto; }
         .linenr { font-size: smaller }
         .code-highlighted { background-color: #ffff00; }
         .org-info-js_info-navigation { border-style: none; }
         #org-info-js_console-label
         { font-size: 10px; font-weight: bold; white-space: nowrap; }
         .org-info-js_search-highlight
         { background-color: #ffff00; color: #000000; font-weight: bold; }
         .org-svg { }
         </style> -->
    <link href="{% static 'css/manifesto.css' %}" rel="stylesheet">
{% endblock %}

{% block polozka %}
    {% include 'main_menu.html' %}
    <div id="content" class="content">
        <h1 class="title">Manifesto pre Podporu Surového Mlieka na Slovensku</h1>
        <div id="table-of-contents" role="doc-toc">
            <h2>Table of Contents</h2>
            <div id="text-table-of-contents" role="doc-toc">
                <ul>
                    <li><a href="#org8584aeb">1. Úvod</a></li>
                    <li><a href="#org175ac8a">2. Inšpirácia manifesta - Aajonus Vonderplanitz</a></li>
                    <li><a href="#org65280c9">3. Naša vízia pre surové mlieko na Slovensku</a>
                        <ul>
                            <li><a href="#orgd991300">3.1. Prečo surové mlieko?</a></li>
                            <li><a href="#org7c6986c">3.2. Naše ciele:</a></li>
                            <li><a href="#orgfe13094">3.3. Zasadzujeme sa za jasné a transparentné označovanie</a></li>
                        </ul>
                    </li>
                    <li><a href="#org0b6afc3">4. Spolupráca a Partnerstvo</a></li>
                    <li><a href="#org80da56c">5. Záver manifesta</a></li>
                </ul>
            </div>
        </div>
        <div id="outline-container-org8584aeb" class="outline-2">
            <h2 id="org8584aeb"><span class="section-number-2">1.</span> Úvod</h2>
            <div class="outline-text-2" id="text-1">
                <p>
                    V tejto dobe, keď sa stále viac ľudí obracia k prirodzeným a tradičným potravinám, je dôležité hovoriť o surovom mlieku - jeho výhodách, rizikách a potenciáli, ktorý prináša pre našu spoločnosť.
                </p>
            </div>
        </div>
        <div id="outline-container-org175ac8a" class="outline-2">
            <h2 id="org175ac8a"><span class="section-number-2">2.</span> Inšpirácia manifesta - Aajonus Vonderplanitz</h2>
            <div class="outline-text-2" id="text-2">
                <p>
                    Inšpirovaní Aajonusom Vonderplanitzom, jeho úspechy v oblasti práv za surové mlieko nás motivujú k dosiahnutiu podobných zmien na Slovensku.
                </p>
            </div>
        </div>
        <div id="outline-container-org65280c9" class="outline-2">
            <h2 id="org65280c9"><span class="section-number-2">3.</span> Naša vízia pre surové mlieko na Slovensku</h2>
            <div class="outline-text-2" id="text-3">
                <p>
                    Veríme v právo každého občana Slovenskej Republiky ku prístupu k prírodným, nespracovaným potravinám, vrátane surového mlieka a jeho produktov. Našou misiou je vzdelávať občanov v oblasti výhod konzumácie surového mlieka a presadzovať legislatívne zmeny, ktoré umožnia predaj surového mlieka a produktov z neho, zabezpečujúc tak práva všetkých spotrebiteľov.
                </p>
            </div>
            <div id="outline-container-orgd991300" class="outline-3">
                <h3 id="orgd991300"><span class="section-number-3">3.1.</span> Prečo surové mlieko?</h3>
                <div class="outline-text-3" id="text-3-1">
                    <p>
                        Surové mlieko má dlhú tradíciu a je cené pre svoje výživné hodnoty a charakteristickú chuť. Naším cieľom je umožniť každému dospelému človeku na Slovensku, aby mal možnosť sa rozhodnúť pre surové mlieko, ktoré bude voľne distribuovateľné na ľudskú konzumáciu.
                    </p>
                </div>
            </div>
            <div id="outline-container-org7c6986c" class="outline-3">
                <h3 id="org7c6986c"><span class="section-number-3">3.2.</span> Naše ciele:</h3>
                <div class="outline-text-3" id="text-3-2">
                    <ul class="org-ul">
                        <li>Legislatívna zmena: Spolupracovať so zákonodarcami na Slovensku na príprave a implementácii zákonov, ktoré umožnia predaj surového mlieka a mliečnych výrobkov pre ľudskú spotrebu s primeraným označením surových produktov.</li>
                        <li>Vzdelávanie verejnosti: Vzdelávať verejnosť o výhodách a rizikách spojených s konzumáciou surového mlieka, posilňujúc ich schopnosť robiť informované rozhodnutia.</li>
                        <li>Podpora miestnych farmárov: Podporovať slovenských farmárov pri prijímaní najlepších postupov pre výrobu kvalitného, bezpečného surového mlieka a surových vyŕobkov z neho.</li>
                        <li>Výskum a spolupráca: Spolupracovať s vedcami v oblasti potravinárstva a odborníkmi na zdravie pri priebežnom výskume výživových výhod a bezpečnosti surového mlieka.</li>
                    </ul>
                </div>
            </div>
            <div id="outline-container-orgfe13094" class="outline-3">
                <h3 id="orgfe13094"><span class="section-number-3">3.3.</span> Zasadzujeme sa za jasné a transparentné označovanie</h3>
                <div class="outline-text-3" id="text-3-3">
                    <p>
                        Všetky produkty zo surového mlieka budú jasne a transparentne označené. Toto označenie bude informovať spotrebiteľov o tom, že produkt je nepasterizovaný. Toto označenie nebude možné použiť pre produkty vyrobené zo surového mlieka, ktoré prešli pasterizáciou počas výrobného procesu.
                    </p>
                </div>
            </div>
        </div>
        <div id="outline-container-org0b6afc3" class="outline-2">
            <h2 id="org0b6afc3"><span class="section-number-2">4.</span> Spolupráca a Partnerstvo</h2>
            <div class="outline-text-2" id="text-4">
                <p>
                    Chceme spolupracovať nielen s farmármi a vedeckou komunitou, ale aj s rozhodovacími orgánmi a širokou verejnosťou, aby sme dosiahli pozitívnu zmenu.
                </p>
            </div>
        </div>
        <div id="outline-container-org80da56c" class="outline-2">
            <h2 id="org80da56c"><span class="section-number-2">5.</span> Záver manifesta</h2>
            <div class="outline-text-2" id="text-5">
                <p>
                    Pridajte sa k nám v tejto dôležitej iniciatíve. Spoločne môžeme pracovať na vytvorení bezpečného a informovaného prostredia pre konzumáciu surového mlieka na Slovensku. Váš hlas a podpora majú skutočný význam.
                </p>
            </div>
        </div>
    </div>
    <div id="postamble" class="status">
        <p class="author">Author: Tím Farmeris</p>
        <p class="date">Date: 2023-12-31 Ne 12:30</p>
        {% if user.is_superuser %}
            <p class="validation"><a href="https://validator.w3.org/check?uri=referer">Validate</a></p>
        {% endif %}
    </div>

{% endblock %}
