{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/thanks.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block polozka %}
    {% include 'main_menu.html' %}
<div class="container-thanks" style="color: var(--text-color)">
    <h1>Thank You!</h1>
    <p>Your message has been sent successfully. We appreciate your feedback and will get back to you soon.</p>
    <a href="{% url 'main:main' %}">Return to the homepage</a>
</div>
{% endblock %}
