

{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/search2.css' %}" rel="stylesheet">
    <link href="{% static 'css/polozka_profile_view.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/polozka_profile_view2.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main_menu.css' %}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block polozka %}
    {% include 'main_menu.html' %}

    <div class="main-container">
        <h3>Stránka vo vývoji</h3>
        <!-- <h3>farmeris-sk@proton.me</h3> -->
    </div>
{% endblock %}
