:root{
  --chat-min-width: 100px;
  --primary-color: #4CAF50;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    display: none;
}
.chat-general-container{
  position: relative;
  background-color: rgba(69, 223, 172, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 60px);
  height: calc(100vh - 62px);
  flex-grow: 1;
  overflow: hidden;
}
.arrow-container {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20px + 40px); 
  height: 100%;
  background-color: var(--input-container-bgclr);
  border-radius: 10px 0 0 0;
}
.recipient-info {
    flex-grow: 1; /* it grows to occupy remaining space */
    flex-shrink: 0; /* prevent shrinking */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.chat-main-content{
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  flex-direction: column;
  width: 100%;
}
.recipient-username{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 20px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--recipient-username-bgclr);
  margin-bottom: 10px;
  position: relative;
}
.product-info-pouzivatel{
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.chat-area {
  padding: 20px;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.chat-bubble {
  padding: 3px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
  clear: both;
}
.chat-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-width: var(--chat-min-width);
  border: var(--chat-container-bd) solid var(--chat-container-bdclr);
  border-radius: 10px;
}

/* Chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Chats and users container */
.chats-users {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
  flex-direction: column-reverse;
  height: auto;
  width: 100%;
  max-height: 450px;
}

/* Chat bubble */
.chat-bubble {
  padding: 7px 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 70%;
  clear: both;
  margin-left: 5px;
}

/* Left chat bubble */
.chat-bubble.left {
  background-color: #0084ff;
  align-self: flex-start;
}

/* Right chat bubble */
.chat-bubble.right {
  background-color: #4CAF50;
  margin-right: 20px;
  align-self: flex-end;
}

/* Chat bubble message */
.chat-bubble-mess {
  margin: 0;
  color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  hyphenate-character: "\2010";
}

.input-container {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 10px;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: var(--input-container-bgclr);
  /*border-radius: 10px;*/
  border-radius: 0 0 10px 10px;
}

.obsah-input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  width: calc(100% - 75px);
}

.obsah-input-button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-input);
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 60px;
  transition: background-color 0.3s ease;
}
.obsah-input-form{
  width: 100%;
}

.obsah-input-button:hover {
  background-color: #3e8e41;
}








/*back arrow*/
.back-arrow {
    width: 20px;  
    height: 2px;
    background: white;
    border: 1px solid rgb(0, 0, 0);
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    position: relative;
    cursor: pointer;
}

.back-arrow:after, 
.back-arrow:before {
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 2px); /* minus borders */
    height: 2px; /* adjusted for border */
    background: white;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.back-arrow:before {
    top: -8px; /* Adjusted for border */
    left: 0;
    transform: rotateZ(-45deg) scaleX(0.75) translate(-5px, 0px);
}

.back-arrow:after {
    bottom: -8px; /* Adjusted for border */
    left: 0;
    transform: rotateZ(45deg) scaleX(0.75) translate(-5px, 0px);
}