/* custom-style.css */
body {
    font-family: 'Source Code Pro', monospace;
    background-color: #282c34;
    color: #bbc2cf;
}
h1, h2, h3, h4, h5, h6 {
    color: #51afef;
}
a {
    color: #c678dd;
}
code {
    background-color: #3d3d3d;
    color: #ff6c6b;
}
