
.map-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text-color);
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    max-height: calc(100vh - 95px);
}
.map {
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: var(--map-bdrds);
    border: var(--map-bd) solid var(--map-bdclr);

}
.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text-color);
    flex-direction: row;
    overflow: hidden;
    color: var(--text-color);
    flex-direction: row;
    overflow: hidden;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
}
button.search-map-style{
    box-shadow: none;
    margin: 0;
}
button.search-map-style, input.search-map-style {
    margin: 0;
    border: var(--search-btn-bd) solid var(--search-btn-bdclr) !important;
}
.search-map-input{
    cursor: text;
}

.info-map {
    background-color: var(--map-tooltip-bgclr);
    border: var(--map-tooltip-bd) solid var(--map-tooltip-bdclr);
    border-radius: 5px;
    color: var(--map-tooltip-clr);
    padding: 12px 20px;
    font-size: 0.875rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
    text-decoration: none;
}

/* Tooltip tail */
.info-map::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 10px solid transparent;
    border-top-color: var(--map-tooltip-bgclr);
    border-bottom: 0;
    margin-left: -10px;
    z-index: 1;
}

/* Tail border to match the tooltip border */
.info-map::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 11px solid transparent;
    border-top-color: var(--map-tooltip-bdclr);
    border-bottom: 0;
    margin-left: -11px;
    z-index: 0;
}

.info-map-username{
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 999;
    background-color: var(--info-map-username-bgclr);
    text-decoration: none;
    color: var(--map-tooltip-clr);
    border: 1px solid transparent;
}

.info-map-username:hover{
    margin: 0;
    background-color: var(--info-map-username-bgclr-hvr);
    border: 1px solid var(--map-tooltip-bdclr);
    text-decoration: none;
}

/* Apply the pointer cursor only to the username link */
.info-map .info-map-username {
    cursor: pointer;
}

.tooltip-content {
    cursor: text;
    user-select: text;
}

.tooltip-content a {
    cursor: pointer;
    user-select: text;
}


/* Styles for the tooltip content labels and values to appear on the same line */
.info-map .tooltip-content {
    display: flex; /* Use flexbox to layout label and value on the same line */
    align-items: center; /* Align the items vertically */
}

.info-map .tooltip-content strong {
    margin-right: 5px; /* Add some space after the label */
}

/* Make sure the anchor tags within the .tooltip-content are also inline */
.info-map .tooltip-content a {
    display: inline; /* Ensures links are in line with the text */
    white-space: nowrap; /* Prevents the link from breaking onto a new line */
}

/* Additional style for when hovering over links */
.info-map .tooltip-content a:hover {
    text-decoration: underline;
}

/* Style adjustments for the username link */
#username-link {
    display: inline-flex; /* Makes the link flexible and inline */
}

/*styling of the openlayers*/
#map .ol-viewport {
    border-radius: var(--map-bdrds);
}
#map .ol-scale-line {
    /* Restore default settings or adjust as necessary for your design */
    position: absolute;
    left: 10px;  /* Positioned at the left side */
    bottom: 10px;  /* Positioned at the bottom */
    color: var(--text-color);
    padding: 2px 5px;
    border: var(--ol-control-button-bd) solid var(--ol-control-button-bdclr);
    border-radius: var(--ol-control-button-bdrds) !important;
}

/*backgroud of ol buttons now*/
#map .ol-control{
    background-color: var(--sidebar-bgclr);
}

#map .ol-scale-line-inner{
    color: var(--ol-scale-line-inner-clr);
    border: var(--ol-control-button-bd) solid var(--ol-scale-line-inner-clr);
    border-top: none;
}

#map .ol-overviewmap {
    top: 0.5em !important;
    right: calc(0.5em + 30px) !important;
    left: auto !important; /* Reset any inherited or default left positioning */
    bottom: auto !important; /* Reset any inherited or default bottom positioning */
    width: auto !important; /* Set a fixed width */
    height: auto !important; /* Set a fixed height */
}

#map .ol-overviewmap:not(.ol-collapsed) button {
    top: 3px !important;
    right: 3px !important;
    left: auto !important; /* Reset any inherited or default left positioning */
    bottom: auto !important; /* Reset any inherited or default bottom positioning */
    position: absolute !important;
}

#map .ol-control button{
    border-radius: var(--ol-control-button-bdrds) !important;
    border: var(--ol-control-button-bd) solid var(--ol-control-button-bdclr);
    color: var(--ol-control-button-clr);
    width: 25px;
    height: 25px;
    font-size: 19px;
}
