.product, .product-create-abs {
  width: 250px;
  /*NOT BUGGING WHEN USING -2PX BUT DONT KNOW WHY*/
  height: calc(420px + 35px - 0px);
  margin: 30px;
  margin-right: 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  pointer-events: all;
  margin-bottom: 0;
  transition: all 0.3s ease;
}
.product:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}
.product-create-abs{
  position: absolute;
  margin: 0;
}


.user-profile-delete-btn{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 600;
}

.product-vlastnosti-row1,
.product-vlastnosti-row2 {
  display: flex;
  /*flex-direction: row;*/
  justify-self: center;
  justify-content: center;
  align-items: center;
}
.product-vlastnosti-row1{
  top: 0;
}
.product-vlastnosti-row2{
  bottom: 0;
}
/*
.product-vlastnosti-button1,
.product-vlastnosti-button2,
.product-vlastnosti-button3,
.product-vlastnosti-button4 {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin: 10px;
  margin-top: 0;
  white-space: nowrap;
  z-index: 0;
  pointer-events: all;
  width: 80px;
  user-select: none;
}*/
/*
.product-vlastnosti-container:focus-within button:not(:focus) {
  pointer-events: none;
}*/

.user{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bgclr);
  height: 150px;
}

.product-click, .product-create-click{
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(420px + 35px);
  border-radius: 5px;
  z-index: 1;
}
.container-plusko-click {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.container-plusko-click::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(117, 117, 117, 0.63);
  border-radius: 5px;
  z-index: -1;
  transition: all 0.3s ease, background-color 0.3s ease;
}

.container-plusko-click:hover::before {
  background-color: #8f8e8e7c;
}
.plusko-click{
  width: 75px;
  height: 75px;
}

.product-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 210px;
  height: 210px;
  margin: 20px;
  border-radius: 5px;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  overflow: hidden; /* Add this line to hide any overflow */
}

.product-pic img,
.product-pic p{
  position: absolute;
  width: 100%; /* Set width to 100% to occupy full width */
  height: auto; /* Let the height be determined by the aspect ratio */
  object-fit: cover; /* Scale and crop the image to cover the entire element */
  max-height: calc(100% - 5px);
}/*
.product-pic p{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
}*/
.product-pic p{
  height: calc(100% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sidebar-bgclr);

}
.product-nazov-container {
  width: 100%;
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.product-nazov-container {
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  /*padding: 14px 10px; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 5px;
  width: 210px;
  height: auto;
}

.product-nazov {
  white-space: normal;
  /*max-height: calc(2 * 1.2 * 16px + 100px); /* 2 rows with line-height and 4px added */
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-nazov-owner{
  white-space: normal;
  max-height: calc(1.2 * 16px + 100px);
  line-height: 1.2;
  padding: 3px;
  font-size: 16px;
  overflow: hidden;
  border-radius: 5px;
  width: 210px;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-nazov h3{
  word-wrap: break-word;
}
.star-icon {
  max-height: 17px; 
  vertical-align: text-top; 
}

.product-price,
.product-transport{
  display: none;
  pointer-events: none;
  height: 0;
  width: 0;
}
.product-vlastnosti-container {
  position: relative;
  width: calc(100% - 30px); 
  width: 210px;
  overflow: hidden; 
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column; 
  align-self: flex-start;
  z-index: 10;
  flex-wrap: wrap;
  flex-grow: 1;
}
.polozka-owner-a{
  z-index: 10;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.polozka-owner-a:hover{
  text-decoration: none;
}
.polozka-owner-a .product-nazov-owner{
  margin: 1px;
}
.polozka-owner-a .product-nazov-owner:hover{
  background-color: var(--polozka-owner-a-hvr);
  border: var(--polozka-owner-a-bd) solid var(--polozka-owner-a-bdclr);
  margin: 0;
}
.product-vlastnosti-buttonx {
    font-size: 1.2em;                 /* A slightly larger font-size */
    font-weight: normal;              /* Regular weight text */
    cursor: pointer;                  /* Change cursor to pointer on hover */
    transition: color 0.3s ease;     /* Smooth transition for color change */
    text-decoration: none;            /* No underline */
    border-bottom: 2px solid transparent; /* Invisible border for the hover effect */
    padding-bottom: 0px;              /* Padding for the bottom border */
    cursor: context-menu;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    z-index: 10;
    width: 75px;
}
.product-vlastnosti-container-cena{
  font-size: 16px;
}
.product-transport {
    font-weight: bold;
    font-size: 1.2em;
    color: #333; /* Dark text color */
    margin-bottom: 5px; /* Space between the elements */
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 5px; /* Space between the buttons */
}
.star-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
.product-vlastnosti-popup1,
.product-vlastnosti-popup2,
.product-vlastnosti-popup3,
.product-vlastnosti-popup4 {
    position: absolute; 
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 2px 6px;
    z-index: 10;
    width: auto; 
    left: 100px;
    top: 0;       
    visibility: hidden;
    opacity: 0;
    /*transition: opacity 0.3s ease, visibility 0.3s ease; /* Add the transition here */
}
:not(.js-enabled) .product-vlastnosti-buttonx:hover + .product-vlastnosti-popup1,
:not(.js-enabled) .product-vlastnosti-buttonx:hover + .product-vlastnosti-popup2,
:not(.js-enabled) .product-vlastnosti-buttonx:hover + .product-vlastnosti-popup3,
:not(.js-enabled) .product-vlastnosti-buttonx:hover + .product-vlastnosti-popup4 {
    opacity: 1;
    visibility: visible;
}
:root{
  --product-pic-mobile-width: 200px;
}

@media only screen
and (min-width : 50px)
and (max-width : 600px){
  /*wide product*/
  .product, .product-create-abs{
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: auto;
    min-width: 100px;
    max-width: 220px;
    height: auto;
  }
  .product-create-abs{
    position: absolute;
    margin: 0;
  }
  .product-click, .product-create-click{
    position: absolute;
    pointer-events: all;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(420px + 35px);
    border-radius: 5px;
    z-index: 1;
  }
  .container-plusko-click {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    z-index: 999;
    height: 382.6px;
  }
  .product-create{
    margin: 10px;
    padding: 10px;
    width: auto;
    min-width: 100px;
    max-width: 220px;
  }
  .product-pic{
    height: var(--product-pic-mobile-width);
    width: var(--product-pic-mobile-width);
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    min-width: var(--product-pic-mobile-width);
    margin-top: 0;
  
  }
  .product-pic-img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .product-nazov-container{
    width: 100%;
    position: relative;
    max-width: calc(100%);
    margin: 0;
    margin-top: 5px;
  }
  .product-vlastnosti-container{
    position: relative;
    height: auto;
    margin: 0;
  }
  .product-nazov-owner{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .product-price,
  .product-transport {
    margin: 10px;
    font-size: 14px;
    color: #666666;
  }
  .product-vlastnosti-row2,
  .product-vlastnosti-button1,
  .product-vlastnosti-button2{
    display: none;
  }
  .product-price,
  .product-transport{
    display: flex;
    pointer-events: none;
    height: auto;
    width: auto;
  }
  .product-vlastnosti-buttonx{
    font-size: 16px;
  }
}
