@media (max-width: 900px) {
    
    .green-main-bg{
        padding: 20px;
        padding-right: 0;
    }
    .main-container{
        width: 100%;
        padding-right: 20px !important;
    }
    .main-container, .profile-content{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .profile-content{
        width: 100%;
        flex-direction: row;
        flex-grow: 1;
    }
    .profile-content,
    .profile-header{
        flex-direction: row;
        overflow: hidden !important;
        margin-bottom: 15px;
    }
    .profile-content,
    .main-container{
        background-color: transparent;
    }
    .profile-header{
        position: relative;
        width: 100%;
        margin-right: 10px;
        border: 1px solid black;
    }
    .profile-content,
    .tab-item-link{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        align-self: center;
    }
    .tab-list{
        max-width: 80px;
        width: 80px;
        min-width: 80px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start !important;
        justify-content: baseline;
        position: sticky;
        height: 100%;
        flex: 1;
        top: 0;
        z-index: 10;
    }
    .tab-list.tab-list-container{
        height: auto;
        overflow: visible !important;
        position: relative;
    }
    .tabs-container{
        position: relative;
        max-width: calc(100% - 80px);
        width: 100%;
        min-height: 100px;
    }
    .snapper{
        position: relative;
        border-top: 1px solid black;
        min-height: 200px;
        padding: 10px;
    }
    .tab-list .tab-item-link:not(:first-child) {
        border-left: 1px solid var(--border-color);
    }
    .tab-list li,
    .tab-item-link,
    .li-content-container{
        width: 70px;
        position: relative;
        margin: 0;
    }
    .li-content-container{
        width: auto;
        max-width: 50px;
    }
    .li-text-holder{
        display: none;
    }
    .tab-item-link {
        top: 0px;  
        left: 0;
        border-bottom: 0;
        border-left: 1px solid var(--border-color);
        border-radius: 0 4px 4px 0;  
        margin-right: 15px !important;
        left: -1px;
    }
    .tab-item-link-last,
    .tab-item-link.active.tab-item-link-last{
        border-bottom: 1px solid var(--border-color);
    }
    .li-spacer{
        display: none !important;
    }


    .profile-section{
        padding: 20px;
        padding-bottom: 0;
    }
    .profile-informations .profile-section{
        padding-left: 0;
        padding-bottom: 0;
    }

    .profile-section h1,
    .profile-header h1{
        width: 100%;
        font-size: 26px;
        max-width: 100%;
        overflow: hidden;
        white-space: normal;
        height: auto;
        text-overflow: ellipsis;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .profile-section .doprava-display-container-holder,
    .product{
        padding: 9px !important;
    }
    .profile-section .doprava-display-container-holder:not(:last-child),
    .offers-container .product:not(:last-child){
        padding-bottom: 0 !important;
    }

    .doprava-display-container{
        width: auto !important;
    }
    .tab-item{
        padding: 0;
    }
    .offers-container{
        justify-content: center;
        align-items: center;
    }
    .tab-item, .tabs-container, .snapper{
        border-radius: 5px 0 5px 5px;
    }
    .tab-item, .snapper{
        width: 100%;
    }
    .snapper{
        padding: 0;
    }

    .profile-informations{
        width: 100%;
        min-width: 75px;
    }

    /*user details*/
    .profile-details{
        padding: 20px;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .profile-link{
        max-width: 200px;
        word-wrap: break-word;
    }
    /*user details, needs gpt4 adjustement*/
    .profile-header2 {
        flex-direction: column; /* Stack avatar and profile info vertically */
        align-items: center; /* Align content to the left */
        padding-bottom: 0; /* Remove bottom padding for spacing */
        overflow: hidden;
    }

    .profile-image {
        width: 50px; /* Make the profile image smaller */
        height: 50px;
        margin-right: 10px; /* Reduce margin for spacing */
    }

    .profile-info h5 {
        font-size: 1.2em; /* Make the username smaller */
        margin-bottom: 5px; /* Adjusted for balance */
    }

    .profile-label {
        margin-right: 3px; /* Reduce margin after the label */
    }

    .profile-details p {
        margin-bottom: 5px; /* Reduce spacing between detail lines */
    }

    .profile-bio h5 {
        font-size: 1.2em; /* Make the bio header smaller */
        margin-bottom: 10px;
    }

    .bio-text {
        padding: 5px 10px;
        max-width: 100%;
        width: 100%;
        min-width: 75px;
    }
    /* end of user details*/

    .tab-item-link{
        color: var(--ti-user-profile-clr);
    }
}
