.dropdown-header {
  width: 100% !important;
  left: 0 !important;
}
.user{
  color: var(--text-color);
  flex-direction: column;
}

.user-container{
  display: flex;
  flex-direction: row;
}

/* mobile polozka_profile_view_add wasnt working properly so adding this css */
/* Responsive Design Adjustments */
@media (max-width: 600px) {

  .product{
    height: 385px;
  }
  .product-create-abs{
    z-index: 100 !important;
    height: 385px;
    min-height: 385px;
  }

  .product-create-abs2{
    padding: 0 !important;
    min-height: 385px;
  }
  .container-plusko-click{
    height: 385px !important;
    min-height: 385px;
  }

}
/* end of mobile polozka_profile_view_add wasnt working properly so adding this css */
