:root {
    --primary-bg-color: #f5f5f5;
    --secondary-bg-color: #fff;
    --text-color-user-profile: #333;
    --link-color-user-profile: #555;
    --link-hover-color: #007BFF;
    --border-color: #e5e5e5;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --tab-link-hover-color: red;
    --base-padding: 30px;
    --small-padding: 15px;
    --border-radius: 5px;
    --main-content-padd: 20px;
}

.main-container > * {
    font-family: 'Helvetica', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color-user-profile);
}

.main-container a {
    text-decoration: none;
    color: var(--link-color-user-profile);
    transition: color 0.3s;
}

.main-container a:hover {
    color: var(--link-hover-color);
}

.main-container {
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    padding: var(--base-padding);
    border-radius: var(--border-radius);
    width: 100%;
    min-height: calc(100vh - 100px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0;
}


.profile-content{
    position: relative;
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    min-height: calc(100vh - 100px - (2 * var(--main-content-padd)));
}
.tabs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
}

.items-center {
    align-items: center;
}

.tab-content{
    position: relative;
    width: 100%;
    height: 100%;
    top: -1px;
    z-index: 1;
}
.snapper {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    padding: 10px;
    padding-left: 40px;
    pointer-events: none;
    z-index: 2;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: stretch;
    border: 1px solid black;
    border-top: 0;
    background-color: var(--primary-bg-color);
    flex: 1;
}
.tab-item{
    display: none;
    pointer-events: auto;
    padding: 20px;
}
.snapper:target .tab-item,
.snapper:target {
    display: flex;
    flex-direction: column;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}


.offer-card {
    position: relative;
}

.review-card {
    position: relative;
    background-color: #fff;
}

.profile-header {
    padding-bottom: 15px; /* Some space below the header before the border */
}

.profile-header h1 {
    font-size: 2.2em; /* A larger font size for the main title */
    margin: 0; /* Removing default margins */
    color: #2c2c2c; /* A slightly darker color for emphasis */
    font-weight: 400; /* A normal font-weight, so it's not too bold and overwhelming */
}

/* Base Styles */
.tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around; 
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  z-index: 2;
}

.tab-list li {
  display: inline-block;
}

.tab-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 4px 4px 0 0;  /* Round top corners */
  transition: all 0.3s ease;
  position: relative;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  min-width: 120px;
  max-width: 150px;
  top: 2px;
}
.tab-link:last-of-type {
    max-width: none;
  }

/* Hover State */
.tab-link:hover {
  background-color: #e9e9e9;
  color: #444;
}

/* Active State (You can modify this based on when a tab is active) */
.tab-link.active {
  background-color: #858585;
  color: #333;
  top: 0; /* Reset position for active tab */
  border-bottom: none;  /* Underline for active tab */
}














/* Enhanced Tab Link Styles */
.tab-link.active, .tab-link:hover {
    box-shadow: 0 2px 10px var(--box-shadow-color);
}

.tab-link.active {
    background-color: var(--primary-bg-color); /* Setting the active tab to the default background color */
    color: #333; /* Color set to match with the rest of the theme */
    border-bottom: 2px solid transparent;
}

/* Profile Content Enhancements */
.profile-content h5, .profile-content h6 {
    margin-top: 20px;
    color: #2c2c2c;
    font-weight: 600;
}

.profile-content p {
    margin-top: 5px;
    font-size: 0.9em;
}

#current-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Offer Card Styling */
.offer-card {
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px var(--box-shadow-color);
    transition: all 0.3s ease;
}

.offer-card:hover {
    transform: translateY(-5px);
}

.offer-card h6 {
    font-weight: 600;
    color: #2c2c2c;
    font-size: 1.1em;
}

.offer-card p {
    font-size: 0.9em;
}

/* Review Card Styling */
.review-card {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px var(--box-shadow-color);
    transition: all 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card h6 {
    font-weight: 600;
    color: #2c2c2c;
    font-size: 1.1em;
    margin-top: 0;
}

.review-card p {
    font-size: 0.9em;
    margin-top: 5px;
}

/* Pagination Enhancements */
.offer-pagination a {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--link-color-user-profile);
    transition: all 0.3s;
}

.offer-pagination a:hover {
    background-color: var(--secondary-bg-color);
}

/* Tab Structure Enhancements */
.tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0; /* Removes default margin */
  padding-left: 0; /* Removes default padding */
}

.tab-list li {
  flex: 1;  /* Distributes space equally among the tabs */
  text-align: center;
}

.tab-link {
  display: block;
  padding: 15px 10px;  /* Consistent padding for all tabs */
  text-decoration: none;
  color: #666;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);
  border-radius: 4px 4px 0 0;  /* Round top corners */
}
.li-spacer{
    border-bottom: 1px solid var(--border-color);
    top: 2px;
}

.main-container {
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 6px var(--box-shadow-color);
    padding: var(--base-padding);
    border-radius: var(--border-radius);
    width: 100%; /* Taking full width of the container */
    margin: 0;  /* Start from top left */
    display: block;  /* Since we want it to start from the top-left corner */
}

/* Clearing float which is a good practice after setting up a grid system */
.grid-cols-3::after {
    content: "";
    display: table;
    clear: both;
}

/* Positioning the entire profile content to start from the top-left */
.profile-content {
    background-color: #ffffff;
    margin: 0; /* Start from top-left */
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

/* Reset for images to remove any default border or spacing */
img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* Since we are making the design from the top-left, 
   we should handle spacing using margins in our elements */
.profile-header {
    margin-bottom: 20px; 
}

.profile-header h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.tab-list li:not(:last-child):not(:nth-last-child(2)) .tab-link {
    border-right: none;
}/*
.tab-link.active{
    border-right: 1px solid var(--border-color) !important;
}*/
/* Base Styles for Tabs */
.tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0; /* Removes default margin */
  padding-left: 0; /* Removes default padding */
}

.tab-list li {
    flex: 1;  /* Distributes space equally among the tabs */
    text-align: center;
}

.tab-link {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #666;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    border: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
}

.tab-link:hover {
    background-color: #e9e9e9;
    color: #444;
    box-shadow: 0 2px 10px var(--box-shadow-color);
}

.tab-link.active {
    background-color: var(--primary-bg-color);
    color: #333;
    border-bottom: 2px solid transparent;
    box-shadow: 0 2px 10px var(--box-shadow-color);
}











/*start of the personal profile tab*/
.profile-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.profile-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;  /* Aligns items vertically */
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info h5 {
    font-size: 1.2em;  /* Increase size */
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-label {
    font-weight: bold;
    color: #333;
}

.profile-link {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.profile-link:hover {
    color: #0055aa;
}

.profile-bio h5 {
    font-size: 1.2em;  /* Increase size */
    margin-bottom: 10px;
}
.bio-text {
    display: inline-block; /* Makes the div only as wide as the content */
    background: linear-gradient(145deg, #f6f8fa, #e0e5e9);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-out;
    max-width: 800px; /* Ensures readability even if the text is long */
    word-wrap: break-word; /* Breaks long words for better fit */
}

.bio-text:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1);
}
/*end of the personal profile tab*/






/*offers*/
.offers-container{
  /*height: 100%;*/
  width: 100%;
  border-radius: 5px;
  /*background-color: var(--blue-main-bg-bgclr);
  border: var(--blue-main-bg-bd) solid var(--blue-main-bg-bdclr);*/
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}
/*end of the offers*/








