
/* minimalistic sidebar css */
/* second file is defined at  /home/kekw/Documents/programming/farmeris/add_product_main/static/css/sidebar2.css */
/* user_profile_display2.css */


.sidebar-mobile-left,
.header-left-menu-container,
.sidebar-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--sidebar-width-wthbd);
}
.header-left-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    width: 56px;
    height: 56px;
    background-color: var(--sidebar-menu-content-bgclr);
    border: var(--header-left-menu-bd) solid var(--header-left-menu-bdclr);
}

.user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--header-left-menu-bd) solid var(--header-left-menu-bdclr);
    margin: 0;
}
.sidebar-button-a-text{
    display: none;
}

.login-button, .signup-button {
    font-size: 0px;
}

.login-button::after, .signup-button::after {
    content: attr(data-text);
    font-size: 16px;
}
.login-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    width: 100%;
    height: 100%;
}
a.login-button,
a.signup-button{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
}
.user-profile-nl {
    display: flex;
    width: 56px;
    margin: 5px;
    border: var(--header-left-menu-bd) solid var(--header-left-menu-bdclr);
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--header-left-menu-bgclr);
}



@media only screen
and (min-width : 50px)
and (max-width : 600px){

    .login-button::after, .signup-button::after {
        font-size: 0px;
    }

    .login-button, .signup-button {
        font-size: 16px;
    }
    .user-profile-nl {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        width: auto;
        border: 0px solid transparent;
        background-color: transparent;
    }
    .login-register-container {
        height: auto;
    }
    a.login-button,
    a.signup-button{
        background-color: var(--login-signup-bgclr);
        border: var(--login-signup-bd) solid var(--login-signup-bdclr);
        box-shadow: 0 2px 5px var(--login-signup-box-shadow);
        height: 40px;
        font-size: 19px;
        margin: 0.5rem;
    }


    .header-left-menu,
    .header-left-menu-nl{
        top: 0;
        left: 0;
        background-color: var(--header-left-menu-bgclr);
        border: var(--header-left-menu-bd) solid var(--header-left-menu-bdclr);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 10px;
        border-radius: var(--header-left-menu-bdrds);
        min-width: calc(var(--header-left-menu-width) - 2 * 10px);
        min-height: calc(var(--header-left-menu-height) - 2 * 10px);
        width: calc(var(--header-left-menu-width) - 2 * 10px);
        height: calc(var(--header-left-menu-height) - 2 * 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 2px 5px var(--header-left-menu-nl-box-shadow);
    }
    .header-left-menu-container{
        height: 200px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a.sidebar-a {
        top: 0;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .sidebar-a{
        margin: 0 !important;
    }

    .user-profile img,
    .user-profile-nl img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }

    .user-profile h2,
    .user-profile-nl h2 {
        margin: 0;
        font-size: 1.2rem;
    }

    .user-profile p,
    .user-profile-nl p {
        margin: 0;
        font-size: 0.8rem;
    }

    .sidebar-button-a-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-profile img {
        width: 70px;
        height: 70px;
    }
    .user-profile{
        border: 0px solid transparent;
        flex-direction: column;
    }

    .sidebar-mobile-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;
        height: auto;
    }

    .header-left-menu-container{
        justify-content: flex-start;
        height: auto;
        width: auto;
        padding: 0px;
    }
    .sidebar-a{
        height: 180px;
        width: 100%;
        position: relative;
        margin-bottom: 15px;
    }
    .user-profile,
    .user-profile-nl{
        margin: 0;
        position: relative;
        height: auto;
        width: auto;
    }
    .login-register-container{
        width: 100%;
        position: relative;
        overflow: auto;
        gap: 0;
        height: auto;
    }
    .header-left-menu,
    .header-left-menu-nl{
        /* background-color: transparent; */
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
    }
    .header-left-menu-nl{
        position: static;
    }
    .header-left-menu{
        position: absolute;
    }
    .user-profile-add-avatar{
        position: relative;
        height: 70px;  /* adjusted to match the gray-bg size */
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-profile .login-button,
    .user-profile .signup-button,
    .user-profile-nl .login-button,
    .user-profile-nl .signup-button {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        color: var(--text-color);
        text-decoration: none;
        border-radius: 5px;
        width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        align-self: center;
        justify-self: center;
        font-size: 19px;
    }

    .user-profile .login-button:hover,
    .user-profile .signup-button:hover,
    .user-profile-nl .login-button:hover,
    .user-profile-nl .signup-button:hover {
        /* background-color: #23527c; */
    }
    .image-container,
    .main-image{
        position: relative;
        width: 200px;
        height: auto;
    }
    .custom-file-upload,
    .main-image-container{
        position: relative;
        width: 100%;
        height: 50px;
    }
    .gray-bg {
        width: 70px;
        height: 70px;
    }
    .user-profile img, .user-profile-nl img, .gray-bg {
        width: 70px;
        height: 70px;
    }
    .mobile-show {
        display: flex;
    }
}
