
{% load static i18n %}

<div class="container">
  <div class="row">
    <div class="col">
        <ul>
          <h3>{% trans "About" %}</h3>
          <!--<li>{% trans "Company" %}</li>
          <li>{% trans "Careers" %}</li>
          <li>{% trans "News &amp; events" %}</li>
          <li>{% trans "Investor relations" %}</li>
          <li>{% trans "Manufacturing" %}</li>
          <li>{% trans "Corporate citizenship" %}</li>-->
          <li></li>
        </ul>
    </div>
    <div class="col">
        <ul>
          <h3>{% trans "Current Stats" %}</h3>
          <li>{% blocktrans with total_users=total_users %}Total registered users: {{ total_users }}{% endblocktrans %}</li>
        </ul>
    </div>
    <div class="col">
        <ul>
          <h3>{% trans "Legal" %}</h3>
          <!--<li>{% trans "Ordering resources" %}</li>
          <li>{% trans "TI API suite" %}</li>
          <li>{% trans "Ordering help &amp; FAQs" %}</li>
          <li>{% trans "Cross-reference search" %}</li>
          <li>{% trans "Authorized distributors" %}</li>
        -->
        <li><a href="https://farmeris.sk/privacy-policy/">{% trans "Privacy policy" %}</a></li>
        </ul>
    </div>
    <div class="col">
      <h3>{% trans "Follow Us" %}</h3>
      <ul class="social-media">
        <!--<li><a href="https://www.twitter" target="_blank"><img class="icons" src="{% static 'images/ikona_twitter2.png' %}" width="40" height="40" alt="{% trans 'Twitter Icon' %}"></a></li>-->
        <!-- <li><a href="https://www.facebook.com" target="_blank"><img class="icons" src="{% static 'images/ikona_facebook2.png' %}" width="40" height="40" alt="{% trans 'Facebook Icon' %}"></a></li>
             <li><a href="https://www.instagram.com" target="_blank"><img class="icons" src="{% static 'images/ikona_instagram2.png' %}" width="40" height="40" alt="{% trans 'Instagram Icon' %}"></a></li> -->

        <div class="socializer a sr-32px sr-opacity sr-icon-white sr-pad"><span class="sr-etsy"><a href="https://www.gitlab.com/farmeris" target="_blank" title="Etsy"><i class="fab fa-gitlab"></i></a></span><span class="sr-youtube"><a href="https://www.youtube.com/@Farmeris_podcast" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></span><span class="sr-instagram"><a href="https://www.instagram.com/farmeris_podcast/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></span><span class="sr-facebook"><a href="https://www.facebook.com/profile.php?id=61555121260090" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></span><span class="sr-github"><a href="https://www.github.com/Farmeris" target="_blank" title="Github"><i class="fab fa-github"></i></a></span></div>

        <!-- https://bit.ly/48ngadS skopcene odtialto lmao, v buducnosti odtialto update -->
      </ul>
    </div>
  </div>
  <hr>
  <p>&copy; Farmeris - beta 28.8.2023 - v0.2.9
</div>
