
{% extends 'notes/polozka_new_notes.html' %}
{% load static i18n %}

{% block extra_css_polozka %}
  <link href="{% static 'css/manifesto.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block polozka %}
  {#% include 'main_menu.html' %#}
  <div id="content" class="content">
    <h1 class="title">Notes</h1>
    <div id="table-of-contents" role="doc-toc">
      <h2>Table of Contents</h2>
      <div id="text-table-of-contents" role="doc-toc">
        <ul>
          <li><a href="#org20544bb">1. Feed and Nutrition:</a>
            <ul>
              <li><a href="#org193ae7b">1.1. &ldquo;I&rsquo;d love to hear about how you manage the diet for your sheep. What kind of feed do you find works best?&rdquo;</a></li>
              <li><a href="#org88bd5cc">1.2. &ldquo;How do you approach ensuring the feed is safe and healthy for the sheep?&rdquo;</a></li>
            </ul>
          </li>
          <li><a href="#org5a66469">2. Health Management and Welfare:</a>
            <ul>
              <li><a href="#org6f4f0c5">2.1. &ldquo;Could you share some insights into your health management practices for the sheep?&rdquo;</a></li>
              <li><a href="#org56b86de">2.2. &ldquo;I&rsquo;m curious about how you handle any challenges with parasites or diseases.&rdquo;</a></li>
            </ul>
          </li>
          <li><a href="#org2b49cb3">3. Environmental and Water Management:</a>
            <ul>
              <li><a href="#orgb491cf8">3.1. &ldquo;What are some of the practices you&rsquo;ve implemented to maintain a clean and safe environment for your sheep?&rdquo;</a></li>
              <li><a href="#org8db8930">3.2. &ldquo;How do you manage the quality of water and soil on your farm?&rdquo;</a></li>
            </ul>
          </li>
          <li><a href="#org3252470">4. Milking Practices and Equipment:</a>
            <ul>
              <li><a href="#orgf081fb6">4.1. &ldquo;I&rsquo;m interested in learning about your milking process. Could you describe how you ensure it&rsquo;s efficient and safe?&rdquo;</a></li>
              <li><a href="#org2064883">4.2. &ldquo;What considerations do you have when choosing equipment and materials for milking and storage?&rdquo;</a></li>
            </ul>
          </li>
          <li><a href="#orgcbdae6a">5. Milk Storage, Handling, and Processing:</a>
            <ul>
              <li><a href="#org7083f0b">5.1. &ldquo;How do you handle and store milk to maintain its quality?&rdquo;</a></li>
              <li><a href="#org48942de">5.2. &ldquo;Are there specific steps you take when preparing milk for different products?&rdquo;</a></li>
            </ul>
          </li>
          <li><a href="#org6597f9b">6. Stress and Animal Welfare:</a>
            <ul>
              <li><a href="#org2eaa42a">6.1. &ldquo;What practices do you have in place to ensure the well-being and comfort of your sheep?&rdquo;</a></li>
              <li><a href="#org2cd5d6c">6.2. &ldquo;How do you maintain a healthy and stress-free environment for the flock?&rdquo;</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="outline-container-org20544bb" class="outline-2">
      <h2 id="org20544bb"><span class="section-number-2">1.</span> Feed and Nutrition:</h2>
      <div class="outline-text-2" id="text-1">
      </div>
      <div id="outline-container-org193ae7b" class="outline-3">
        <h3 id="org193ae7b"><span class="section-number-3">1.1.</span> &ldquo;I&rsquo;d love to hear about how you manage the diet for your sheep. What kind of feed do you find works best?&rdquo;</h3>
      </div>
      <div id="outline-container-org88bd5cc" class="outline-3">
        <h3 id="org88bd5cc"><span class="section-number-3">1.2.</span> &ldquo;How do you approach ensuring the feed is safe and healthy for the sheep?&rdquo;</h3>
        <div class="outline-text-3" id="text-1-2">
          <ul class="org-ul">
            <li>GMOs</li>
            <li>Pesticides</li>
            <li>Home-Grown vs. Purchased Feed</li>
            <li>Supplements</li>
            <li>Organic Certification</li>
            <li>Feed Additives and Growth Promoters</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="outline-container-org5a66469" class="outline-2">
      <h2 id="org5a66469"><span class="section-number-2">2.</span> Health Management and Welfare:</h2>
      <div class="outline-text-2" id="text-2">
      </div>
      <div id="outline-container-org6f4f0c5" class="outline-3">
        <h3 id="org6f4f0c5"><span class="section-number-3">2.1.</span> &ldquo;Could you share some insights into your health management practices for the sheep?&rdquo;</h3>
      </div>
      <div id="outline-container-org56b86de" class="outline-3">
        <h3 id="org56b86de"><span class="section-number-3">2.2.</span> &ldquo;I&rsquo;m curious about how you handle any challenges with parasites or diseases.&rdquo;</h3>
        <div class="outline-text-3" id="text-2-2">
          <ul class="org-ul">
            <li>Vaccination Practices</li>
            <li>Antibiotic Use</li>
            <li>Parasite Management</li>
            <li>Mastitis Prevention and Treatment</li>
            <li>Chemical Exposure</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="outline-container-org2b49cb3" class="outline-2">
      <h2 id="org2b49cb3"><span class="section-number-2">3.</span> Environmental and Water Management:</h2>
      <div class="outline-text-2" id="text-3">
      </div>
      <div id="outline-container-orgb491cf8" class="outline-3">
        <h3 id="orgb491cf8"><span class="section-number-3">3.1.</span> &ldquo;What are some of the practices you&rsquo;ve implemented to maintain a clean and safe environment for your sheep?&rdquo;</h3>
      </div>
      <div id="outline-container-org8db8930" class="outline-3">
        <h3 id="org8db8930"><span class="section-number-3">3.2.</span> &ldquo;How do you manage the quality of water and soil on your farm?&rdquo;</h3>
        <div class="outline-text-3" id="text-3-2">
          <ul class="org-ul">
            <li>Contaminant Management</li>
            <li>Air and Water Quality Monitoring</li>
            <li>Water Source and Quality</li>
            <li>Soil Health Practices</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="outline-container-org3252470" class="outline-2">
      <h2 id="org3252470"><span class="section-number-2">4.</span> Milking Practices and Equipment:</h2>
      <div class="outline-text-2" id="text-4">
      </div>
      <div id="outline-container-orgf081fb6" class="outline-3">
        <h3 id="orgf081fb6"><span class="section-number-3">4.1.</span> &ldquo;I&rsquo;m interested in learning about your milking process. Could you describe how you ensure it&rsquo;s efficient and safe?&rdquo;</h3>
      </div>
      <div id="outline-container-org2064883" class="outline-3">
        <h3 id="org2064883"><span class="section-number-3">4.2.</span> &ldquo;What considerations do you have when choosing equipment and materials for milking and storage?&rdquo;</h3>
        <div class="outline-text-3" id="text-4-2">
          <ul class="org-ul">
            <li>Cleaning Agents</li>
            <li>Equipment Material</li>
            <li>Cleaning Agent Residue</li>
            <li>Bacterial Growth Prevention</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="outline-container-orgcbdae6a" class="outline-2">
      <h2 id="orgcbdae6a"><span class="section-number-2">5.</span> Milk Storage, Handling, and Processing:</h2>
      <div class="outline-text-2" id="text-5">
      </div>
      <div id="outline-container-org7083f0b" class="outline-3">
        <h3 id="org7083f0b"><span class="section-number-3">5.1.</span> &ldquo;How do you handle and store milk to maintain its quality?&rdquo;</h3>
      </div>
      <div id="outline-container-org48942de" class="outline-3">
        <h3 id="org48942de"><span class="section-number-3">5.2.</span> &ldquo;Are there specific steps you take when preparing milk for different products?&rdquo;</h3>
        <div class="outline-text-3" id="text-5-2">
          <ul class="org-ul">
            <li>Cooling and Storage Procedures</li>
            <li>Storage Tank Materials</li>
            <li>Cross-Contamination Prevention</li>
            <li>Transportation Conditions</li>
            <li>Regulatory Compliance for Raw Milk</li>
            <li>Protocols for Different Products</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="outline-container-org6597f9b" class="outline-2">
      <h2 id="org6597f9b"><span class="section-number-2">6.</span> Stress and Animal Welfare:</h2>
      <div class="outline-text-2" id="text-6">
      </div>
      <div id="outline-container-org2eaa42a" class="outline-3">
        <h3 id="org2eaa42a"><span class="section-number-3">6.1.</span> &ldquo;What practices do you have in place to ensure the well-being and comfort of your sheep?&rdquo;</h3>
      </div>
      <div id="outline-container-org2cd5d6c" class="outline-3">
        <h3 id="org2cd5d6c"><span class="section-number-3">6.2.</span> &ldquo;How do you maintain a healthy and stress-free environment for the flock?&rdquo;</h3>
        <div class="outline-text-3" id="text-6-2">
          <ul class="org-ul">
            <li>Handling Techniques</li>
            <li>Genetic Diversity</li>
            <li>Living Conditions</li>
            <li>Environmental Enrichment</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="postamble" class="status">
    <p class="author">Author: Tím Farmeris</p>
    <p class="date">Created: 2024-02-11 Ne 02:32</p>
  </div>
{% endblock %}
