
{% extends 'notes/polozka_new_notes.html' %}
{% load static i18n %}

{% block extra_css_polozka %}
  <link href="{% static 'css/manifesto.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block polozka %}
  <div id="content" class="content">
    <h1 class="title">Poznámky</h1>
    <div id="table-of-contents" role="doc-toc">
      <h2>Table of Contents</h2>
      <div id="text-table-of-contents" role="doc-toc">
        <ul>
          <li><a href="#orgbb84295">1. Krmivo a výživa:</a>
            <ul>
              <li><a href="#org9db960b">1.1. Rád by som sa dozvedel, ako manažujete stravu pre vaše ovce. Aký typ krmiva sa vám osvedčil ako najlepší?</a></li>
              <li><a href="#org961a4ce">1.2. Ako pristupujete k zabezpečeniu, aby bolo krmivo pre ovce zdravé a to najlepšie?</a></li>
            </ul>
          </li>
          <li><a href="#orgd45fde1">2. Správa zdravia a pohody:</a>
            <ul>
              <li><a href="#org838bb8d">2.1. Mohli by ste sa podeliť o niektoré poznatky z vašich postupov starostlivosti o zdravie oviec?</a></li>
              <li><a href="#org22c9263">2.2. Zaujíma ma, ako riešite výzvy spojené s parazitmi alebo chorobami.</a></li>
            </ul>
          </li>
          <li><a href="#org668c1ff">3. Správa životného prostredia a vody:</a>
            <ul>
              <li><a href="#org7ba0822">3.1. Aké praktiky ste implementovali na udržanie čistého a bezpečného prostredia pre vaše ovce?</a></li>
              <li><a href="#org7f45672">3.2. Ako riadite kvalitu vody a pôdy na vašej farme?</a></li>
            </ul>
          </li>
          <li><a href="#org80ef4d0">4. Dojenie a vybavenie:</a>
            <ul>
              <li><a href="#org5c7bfb4">4.1. Mám záujem dozvedieť sa viac o vašom procese dojenia. Mohli by ste opísať, ako zabezpečujete jeho efektivitu a bezpečnosť?</a></li>
              <li><a href="#org2448762">4.2. Aké aspekty zohľadňujete pri výbere vybavenia a materiálov na dojenie a skladovanie?</a></li>
            </ul>
          </li>
          <li><a href="#org6fa41f0">5. Skladovanie, manipulácia a spracovanie mlieka:</a>
            <ul>
              <li><a href="#org028e624">5.1. Ako manipulujete a skladujete mlieko, aby ste udržali jeho kvalitu?</a></li>
              <li><a href="#org5198902">5.2. Existujú konkrétne kroky, ktoré podnikáte pri príprave mlieka na rôzne produkty?</a></li>
            </ul>
          </li>
          <li><a href="#org720c57b">6. Stres a dobré životné podmienky zvierat:</a>
            <ul>
              <li><a href="#org7f49178">6.1. Aké praktiky máte zavedené na zabezpečenie pohody a komfortu vašich oviec?</a></li>
              <li><a href="#org306ac1d">6.2. Ako udržiavate zdravé a bezstresové prostredie pre stádo?</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div id="outline-container-orgbb84295" class="outline-2">
      <h2 id="orgbb84295"><span class="section-number-2">1.</span> Krmivo a výživa:</h2>
      <div class="outline-text-2" id="text-1">
      </div>
      <div id="outline-container-org9db960b" class="outline-3">
        <h3 id="org9db960b"><span class="section-number-3">1.1.</span> Rád by som sa dozvedel, ako manažujete stravu pre vaše ovce. Aký typ krmiva sa vám osvedčil ako najlepší?</h3>
      </div>
      <div id="outline-container-org961a4ce" class="outline-3">
        <h3 id="org961a4ce"><span class="section-number-3">1.2.</span> Ako pristupujete k zabezpečeniu, aby bolo krmivo pre ovce zdravé a to najlepšie?</h3>
        <div class="outline-text-3" id="text-1-2">
          <ul class="org-ul">
            <li>GMO</li>
            <li>Pesticídy</li>
            <li>Domáce vs. Kúpené krmivo</li>
            <li>Doplnky</li>
            <li>Certifikácia organickej produkcie</li>
            <li>Aditíva krmív a iná chémia</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="outline-container-orgd45fde1" class="outline-2">
      <h2 id="orgd45fde1"><span class="section-number-2">2.</span> Správa zdravia a pohody:</h2>
      <div class="outline-text-2" id="text-2">
      </div>
      <div id="outline-container-org838bb8d" class="outline-3">
        <h3 id="org838bb8d"><span class="section-number-3">2.1.</span> Mohli by ste sa podeliť o niektoré poznatky z vašich postupov starostlivosti o zdravie oviec?</h3>
      </div>
      <div id="outline-container-org22c9263" class="outline-3">
        <h3 id="org22c9263"><span class="section-number-3">2.2.</span> Zaujíma ma, ako riešite výzvy spojené s parazitmi alebo chorobami.</h3>
        <div class="outline-text-3" id="text-2-2">
          <ul class="org-ul">
            <li>Očkovanie</li>
            <li>Používanie antibiotík</li>
            <li>Parazity</li>
            <li>Prevencia a liečba mastitídy apod.</li>
            <li>Vystavenie chemikáliám</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="outline-container-org668c1ff" class="outline-2">
      <h2 id="org668c1ff"><span class="section-number-2">3.</span> Správa životného prostredia a vody:</h2>
      <div class="outline-text-2" id="text-3">
      </div>
      <div id="outline-container-org7ba0822" class="outline-3">
        <h3 id="org7ba0822"><span class="section-number-3">3.1.</span> Aké praktiky ste implementovali na udržanie čistého a bezpečného prostredia pre vaše ovce?</h3>
      </div>
      <div id="outline-container-org7f45672" class="outline-3">
        <h3 id="org7f45672"><span class="section-number-3">3.2.</span> Ako riadite kvalitu vody a pôdy na vašej farme?</h3>
        <div class="outline-text-3" id="text-3-2">
          <ul class="org-ul">
            <li>Manažment kontaminantov</li>
            <li>Monitorovanie kvality ovzdušia a vody</li>
            <li>Zdroj a kvalita vody</li>
            <li>Praktiky pres zdravie pôdy</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="outline-container-org80ef4d0" class="outline-2">
      <h2 id="org80ef4d0"><span class="section-number-2">4.</span> Dojenie a vybavenie:</h2>
      <div class="outline-text-2" id="text-4">
      </div>
      <div id="outline-container-org5c7bfb4" class="outline-3">
        <h3 id="org5c7bfb4"><span class="section-number-3">4.1.</span> Mám záujem dozvedieť sa viac o vašom procese dojenia. Mohli by ste opísať, ako zabezpečujete jeho efektivitu a bezpečnosť?</h3>
      </div>
      <div id="outline-container-org2448762" class="outline-3">
        <h3 id="org2448762"><span class="section-number-3">4.2.</span> Aké aspekty zohľadňujete pri výbere vybavenia a materiálov na dojenie a skladovanie?</h3>
        <div class="outline-text-3" id="text-4-2">
          <ul class="org-ul">
            <li>Čistiace prostriedky</li>
            <li>Materiál vybavenia</li>
            <li>Zvyšky čistiacich prostriedkov</li>
            <li>Prevencia proti baktériam</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="outline-container-org6fa41f0" class="outline-2">
      <h2 id="org6fa41f0"><span class="section-number-2">5.</span> Skladovanie, manipulácia a spracovanie mlieka:</h2>
      <div class="outline-text-2" id="text-5">
      </div>
      <div id="outline-container-org028e624" class="outline-3">
        <h3 id="org028e624"><span class="section-number-3">5.1.</span> Ako manipulujete a skladujete mlieko, aby ste udržali jeho kvalitu?</h3>
      </div>
      <div id="outline-container-org5198902" class="outline-3">
        <h3 id="org5198902"><span class="section-number-3">5.2.</span> Existujú konkrétne kroky, ktoré podnikáte pri príprave mlieka na rôzne produkty?</h3>
        <div class="outline-text-3" id="text-5-2">
          <ul class="org-ul">
            <li>Postupy chladenia a skladovania</li>
            <li>Materiály skladovacích nádrží</li>
            <li>Prevencia krížovej kontaminácie</li>
            <li>Prepravné podmienky</li>
            <li>Súlad s predpismi pre surové mlieko</li>
            <li>Protokoly pre rôzne produkty</li>
          </ul>
        </div>
      </div>
    </div>

    <div id="outline-container-org720c57b" class="outline-2">
      <h2 id="org720c57b"><span class="section-number-2">6.</span> Stres a dobré životné podmienky zvierat:</h2>
      <div class="outline-text-2" id="text-6">
      </div>
      <div id="outline-container-org7f49178" class="outline-3">
        <h3 id="org7f49178"><span class="section-number-3">6.1.</span> Aké praktiky máte zavedené na zabezpečenie pohody a komfortu vašich oviec?</h3>
      </div>
      <div id="outline-container-org306ac1d" class="outline-3">
        <h3 id="org306ac1d"><span class="section-number-3">6.2.</span> Ako udržiavate zdravé a bezstresové prostredie pre stádo?</h3>
        <div class="outline-text-3" id="text-6-2">
          <ul class="org-ul">
            <li>Manipulačné techniky</li>
            <li>Genetická diverzita</li>
            <li>Životné podmienky</li>
            <li>Obohacovanie prostredia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="postamble" class="status">
    <p class="author">Author: Tím Farmeris</p>
    <p class="date">Created: 2024-02-11 Ne 15:39</p>
    {% if user.is_superuser %}
      <p class="validation"><a href="https://validator.w3.org/check?uri=referer">Validate</a></p>
    {% endif %}
  </div>

{% endblock %}
