
{% extends 'polozka.html' %}
{% load static i18n %}

{% block polozka_new %}
  {% include 'notes/sidebar_notes.html' %}

  <div class="green-main-bg" id="1">
    <div class="blue-main-bg">
      {% block polozka %}{% endblock %}
    </div>
  </div>
  <footer>
    {% include 'notes/footer_content_notes.html' %}
  </footer>

{% endblock %}
