

{% load i18n %}
{% load custom_filters %}
{% load static %}

<form method="post" id="themeSwitcherForm2">
    {% csrf_token %}
    <div class="switch2container">
        <input type="hidden" name="theme" value="{% if theme == 'light' %}dark{% else %}light{% endif %}">
        <div class="switch2">
            <button id="themeswitch2" type="submit" class="{% if theme == 'dark' %}checked{% endif %}">
                {% if theme == 'dark' %}
                    <i class="ti ti-sun ti-big"></i>
                {% else %}
                    <i class="ti ti-sun-off ti-big"></i>
                {% endif %}
            </button>
        </div>
    </div>
</form>
