
{% load i18n %}
{% load custom_filters %}
{% load static %}

<!-- Stylesheets -->
<link href="{% static 'css/sidebar_mobile.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/sidebar_notes.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/sidebar.css' %}" rel="stylesheet" media="screen">
{% if user.is_authenticated %}
  {% if user.userprofile.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
  {% else %}
    <link rel="stylesheet" href="{% static 'css/light-theme.css' %}">
  {% endif %}
{% else %}
  {% if theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
  {% else %}
    <link rel="stylesheet" href="{% static 'css/light-theme.css' %}">
  {% endif %}
{% endif %}

<!-- Sidebar Content -->
<label class="mobile-side-container">
  <input type="checkbox" class="mobile-checkbox">
  <span class="menu"> <span class="hamburger"></span> </span>

  <nav class="sidebar">
    <div class="sidebar-mobile-left">
      <div class="sidebar-menu-content3">
        {% include 'notes/sidebar_menu_notes.html' %}
      </div>
    </div>
    <!-- Navigation links -->
    <div class="sidebar-butt-container">
      <div class="sidebar-butt-widget">
        <ul>
          <li>
            <a class="sidebar-button-a" href="https://farmeris.sk">
              <span><i class="ti ti-home"></i>  {% trans "Home" %}</span>
            </a>
          </li>
          <!-- <li>
               <a class="sidebar-button-a" href="{% url 'notes:notesen' %}">
               <span><i class="ti ti-home"></i>  {% trans "Slovensky" %}</span>
               </a>
               </li> -->
        </ul>
      </div>
    </div>

    <!-- Theme switcher form -->
    <div class="sidebar-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle" class="sidebar-menu-button"><i class="ti ti-settings"></i></label>
      <div class="sidebar-menu-content">
        {% include 'notes/sidebar_menu_notes.html' %}
      </div>
    </div>
  </nav>
</label>

<!-- Scripts -->
{% block extra_js %}
  {% comment %}
  <!-- <script src="{% static 'js/theme_switch.js' %}"></script>
  <script src="{% static 'js/changes-scripts.js' %}"></script>
  <script src="{% static 'js/menu-hide.js' %}"></script> -->
  {% endcomment %}
  <script src="{% static 'js/menu-hide.js' %}"></script>
{% endblock %}
