{% load static %}
{% load i18n %}

{% if sidebar_visible %}
    <link href="{% static 'css/user_profile_display2.css' %}" rel="stylesheet">
{% else %}
    <link href="{% static 'css/user_profile_display.css' %}" rel="stylesheet">
{% endif %}


{% if user.is_anonymous %}
    <div class="header-left-menu-container mobile-show">
        <div class="header-left-menu-nl">
            <div class="user-profile-nl">
                <div class="login-register-container">
                    <a href="{% url 'account_login' %}" class="login-button" data-text="{% trans 'Log.' %}">{% trans "Login" %}</a>
                    <a href="{% url 'account_signup' %}" class="signup-button" data-text="{% trans 'Reg.' %}">{% trans "Register" %}</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="header-left-menu-container mobile-show">
        <div class="sidebar-a">
            <a class="sidebar-a" href="{% url 'user_profile:user_profile' username=request.user.username %}">
                <div class="header-left-menu">
                    <div class="user-profile">
                        {% if avatar_url %}
                            <img src="{{ avatar_url }}" alt="{% trans 'User profile picture' %}">
                        {% else %}
                            <div class="user-profile-add-avatar">
                                <div class="gray-bg">
                                    <i class="ti ti-camera-plus"></i>
                                </div>
                            </div>
                        {% endif %}
                        <div>
                            <p class="sidebar-button-a-text">{% trans "Logged as:" %}</p>
                            <h2 class="sidebar-button-a-text">{{ request.user.username }}</h2>
                            <p class="time-now sidebar-button-a-text">{{ now }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endif %}
