{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% if global_css_styles %}
    {% for css_file in global_css_styles %}
        <link rel="stylesheet" href="{% static css_file %}">
    {% endfor %}
  {% endif %}
  <link href="{% static 'css/user_profile_edit.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/user_profile2.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/search2.css' %}" rel="stylesheet">
  <link href="{% static 'css/polozka_profile_view.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/polozka_profile_view2.css' %}" rel="stylesheet" media="screen">
  <!--<link href="../static/css/user_profile.css" rel="stylesheet" media="screen">-->
  {% block extra_css_edit %}{% endblock %}
  {% block extra_css_polozka_view %}{% endblock %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Farmeris" %}</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/tabler-icons.css">
</head>


<body>
  <main>
    {% include 'search_header.html' %}
    {% include 'sidebar.html' %}
      
    <div class="green-main-bg">
      <div class="blue-main-bg">
        
        {% block content %}
        <div class="user">
          {% blocktrans %}<h1>Profile of a user:</h1>{% endblocktrans %}
            <!--<h1>{{ user_profile.user.username }}</h1>-->
            <h1>{{ username }}</h1>
        </div> 
        {% endblock %}
        <!--
        {% if request.user.username == username or request.user.is_superuser %}
          <a class="edit_user_profile-a" href="{% url 'user_profile:user_profile_edit' username=user_profile.user.username %}"><button class="edit_user_profile2">Editovat profil</button></a>
        {% endif %}
        -->
        {% if request.user.is_authenticated and username == request.user.username %}
          {% include 'polozka_profile_view_add.html' with username=request.user.username %}
        {% endif %}
        {% for product in products %}
          {% include 'polozka_profile_view.html' with username=request.user.username nazov_produktu=product.nazov_produktu polozka=product %}
        {% endfor %}
        
        {% include 'pagination.html' %}
      </div>
    </div>
    <footer>
      {% include 'footer_content.html' %}
    </footer>
  </main>
</body>
</html>