
{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/settings_edit.css' %}"  rel="stylesheet" media="screen">
    <link href="{% static 'css/settings_edit_err.css' %}"  rel="stylesheet" media="screen">
    <link href="{% static 'css/settings_edit_seller.css' %}"  rel="stylesheet" media="screen">
    <link href="{% static 'css/popup_styles.css' %}"  rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/openlayers/dist/ol.css" type="text/css">
{% endblock %}

{% block polozka %}
    <div class="profile-settings">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h2><i class="ti ti-settings"></i>{% trans "Pickup address" %}</h2>

        <div class="settings-container">
            <form method="post" enctype="multipart/form-data" id="post_address">
                {% csrf_token %}

                <h1 id="address-content" class="address-id"><i class="ti ti-home-cog"></i>{% trans "Address" %}</h1>
                <input type="hidden" name="form_type" value="address_details">

                <label for="street-address">{% trans "Street Address:" %}</label>
                <input type="text" id="street_address" name="street_address" placeholder="{% trans '1234 Main St' %}">

                {% comment %}
                <!-- <label for="city">{% trans "City:" %}</label>
                     <input type="text" id="city" name="city" placeholder="{% trans 'Anytown' %}">
                -->
                   {% endcomment %}

                <label for="zipcode">{% trans "Zip/Postal Code:" %}</label>
                <input type="text" id="zip_postal_code" name="zip_postal_code" placeholder="{% trans '12345' %}">

                <label for="country">{% trans "Country:" %}</label>
                <input type="text" id="country" name="country" placeholder="{% trans 'Country' %}" value="{{ user_profile.country|default:'' }}">

                <label for="notes">{% trans "Notes:" %}</label>
                <textarea id="notes" name="notes" placeholder="{% trans 'Add any notes about this address' %}"></textarea>

                <button type="submit">{% trans "Save" %}</button>

            </form>

            <form method="post" enctype="multipart/form-data" id="post_long_lat">
                {% csrf_token %}

                <h1 id="address-content" class="address-id"><i class="ti ti-home-cog"></i>{% trans "Coordinates" %}</h1>
                <input type="hidden" name="form_type" value="address_details">

                <label for="latitude">{% trans "Latitude" %}</label>
                <input type="text" id="latitude" name="latitude" placeholder="{% trans '49.0845' %}">

                <label for="longitude">{% trans "Longitude" %}</label>
                <input type="text" id="longitude" name="longitude" placeholder="{% trans '18.5124' %}">

                <label for="country">{% trans "Country:" %}</label>
                <input type="text" id="country" name="country" placeholder="{% trans 'Country' %}" value="{{ user_profile.country|default:'' }}">

                <label for="notes">{% trans "Notes:" %}</label>
                <textarea id="notes" name="notes" placeholder="{% trans 'Add any notes about this address' %}"></textarea>

                <button type="submit">{% trans "Save" %}</button>

            </form>
        </div>


        {% for pobocka in pobocky %}
            <div class="pobocka-container">
                <h2>Pickup Address Name: {{ pobocka.pobocka_name }}</h2>
                <p>Street Address: {{ pobocka.street_address }}</p>
                <p>City: {{ pobocka.city }}</p>
                <p>State/Province: {{ pobocka.state_province }}</p>
                <p>Zip/Postal Code: {{ pobocka.zip_postal_code }}</p>
                <p>Detailed_location: {{ pobocka.detailed_location }}</p>
                <p>Country: {{ pobocka.country }}</p>
                <p>Latitude: {{ pobocka.latitude }}</p>
                <p>Longitude: {{ pobocka.longitude }}</p>
                <p>Notes: {{ pobocka.notes }}</p>
                {% if pobocka.map_image %}
                    <img src="{{ pobocka.map_image.url }}" alt="Map image for {{ pobocka.pobocka_name }}" style="height:300px;width:300px;">
                {% endif %}
                <form action="{% url 'edit_profile:delete_pobocka' username=username pobocka_id=pobocka.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this address?');">Delete Address</button>
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}


{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/openlayers/dist/ol.js"></script>
    <script src="{% static 'js/pobocka.js' %}"></script>
{% endblock %}
