
{% extends "account/base.html" %}
{% load static i18n %}
{% load custom_filters %}

{% block head_title %}{% trans "Become seller" %}{% endblock %}

{% block whitebox %}
    <div class="account-container">
        <section class="seller-settings-content">
            {% if not user_profile.is_seller %}
                <form method="post" action="{% url 'edit_profile:update_seller_status' %}" class="seller-form">
                    {% csrf_token %}
                    <input type="hidden" name="is_seller" value="true">
                    <p>{% trans "Are you sure you" %}</p>
                    <p>{% trans "want to become seller?" %}</p>
                    {% trans "Become seller" as trans_text_bec_seller %}
                    {% include "account/_button.html" with text=trans_text_bec_seller %}
                </form>
            {% else %}
                <p>{% trans "You already are a seller." %}</p>
                <p>{% trans "Contact us if needed!" %}</p>
                {% trans "Return home" as trans_text_ret_home %}
                <a href="{% url 'main:main' %}">{% include "account/_button.html" with text=trans_text_ret_home %}</a>
            {% endif %}
        </section>
    </div>
{% endblock %}
