{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/settings_edit.css' %}"  rel="stylesheet" media="screen">
    <link href="{% static 'css/settings_edit_err.css' %}"  rel="stylesheet" media="screen">
    <link href="{% static 'css/settings_edit_seller.css' %}"  rel="stylesheet" media="screen">
    <link href="{% static 'css/popup_styles.css' %}"  rel="stylesheet" media="screen">
{% endblock %}

{% block polozka %}
    <div class="profile-settings">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h2><i class="ti ti-settings"></i>{% trans " Profile Settings" %}</h2>

        <div class="settings-container">

            <!-- Settings Options (Left) -->
            <div class="settings-options">
                <section class="profile-info-option">
                    <a href="#profile-info-content"><h3><i class="ti ti-user-cog"></i>{% trans " Profile Information" %}</h3></a>
                </section>
                <section class="address-option">
                    <a href="#company-content"><h3><i class="ti ti-clipboard-text"></i>{% trans "Company Information" %}</h3></a>
                </section>
                <section class="change-become-seller">
                    <a href="{% url 'edit_profile:update_seller_status' %}" target="_blank"><h3><i class="ti ti-shopping-cart-up"></i>{% trans " Become seller" %}</h3></a>
                </section>
                <section class="address-option">
                    <a href="{% url 'tagmanager:select_tag' username=username %}" target="_blank"><h3><i class="ti ti-tags"></i>{% trans "Add your tags" %}</h3></a>
                </section>
                <section class="add_pobocka">
                    <a href="{% url 'edit_profile:add_pobocka' username=username %}" target="_blank"><h3><i class="ti ti-map-pin-plus"></i>{% trans "Pickup address" %}</h3></a>
                </section>
                <section class="change-email-option">
                    <a href="{% url 'account_email' %}" target="_blank"><h3><i class="ti ti-mail-exclamation"></i>{% trans " Email" %}</h3></a>
                </section>
                <section class="change-password-option">
                    <a href="{% url 'account_change_password' %}" target="_blank"><h3><i class="ti ti-lock-cog"></i>{% trans " Password" %}</h3></a>
                </section>
                <section class="account-actions-option">
                    <a href="#account-actions-content"><h3><i class="ti ti-trash"></i>{% trans " Account Actions" %}</h3></a>
                </section>
            </div>

            <!-- Settings Content (Right) -->
            <div class="settings-content">

                <section class="profile-info-content settings-content-child" id="profile-info-content">
                    <form method="post" action="{% url 'edit_profile:user_profile_editing' username=user.username %}" enctype="multipart/form-data" id="userProfileForm">
                        {% csrf_token %}
                        <div class="first-row">
                            <h1><i class="ti ti-user-cog"></i>{% trans " Profile Information" %}</h1>
                            <button type="submit">{% trans "Save changes" %}</button>
                        </div>

                        <h2>{% trans "Username:" %} {{ user_profile.user.username }}</h2>

                        <div class="avatar">
                            <img src="{{ avatar_url }}" alt="{% trans 'Current profile picture' %}" id="current-avatar">
                        </div>

                        <input type="hidden" name="form_type" value="personal_details">

                        <!--
                             <input type="text" id="username" name="username" placeholder="Your Username" value="{{ user_profile.user.username }}">
                        -->
                        <label for="avatar">{% trans "Profile Picture:" %}</label>
                        <input type="file" id="avatar" name="avatar">

                        <label for="phone-number">{% trans "Phone Number:" %}</label>
                        <div class="phone-number-container">
                            <input type="text" class="profile-settings-phone-input1" id="phone-country-code" name="phone_country_code" placeholder="+421" value="{{ form.phone_country_code.value|default:'+421' }}">
                            <input type="tel" class="profile-settings-phone-input2" id="phone_number" name="phone_number" placeholder="{% trans '123-456-7890' %}" value="{{ user_profile.phone_number|default:'' }}">
                        </div>

                        <label for="preferred_currency">{% trans "Preferred Currency:" %}</label>
                        <select id="preferred_currency" name="preferred_currency">
                            {% for code, name in form.preferred_currency.field.choices %}
                                <option value="{{ code }}" {% if form.preferred_currency.value == code %}selected{% endif %}>
                                    {{ name }}
                                </option>
                            {% endfor %}
                        </select>

                        <label for="languages">{% trans "Languages:" %}</label>
                        <input type="text" id="languages" name="languages" placeholder="{% trans 'EN, etc...' %}" value="{{ user_profile.languages|default:'' }}">

                        <label for="website">{% trans "Website:" %}</label>
                        <input type="url" id="website" name="website" placeholder="{% trans 'https://yourwebsite.com' %}" value="{{ user_profile.website|default:'' }}">

                        <!-- Social Media Section -->
                        <div class="social-media-section">
                            <h3>{% trans "Social Media Profiles" %}</h3>

                            <label for="facebook">{% trans "Facebook:" %}</label>
                            <input type="url" id="facebook" name="facebook" placeholder="{% trans 'https://facebook.com/yourpage' %}" value="{{ user_profile.facebook|default:'' }}">

                            <label for="twitter">{% trans "X:" %}</label>
                            <input type="url" id="twitter" name="twitter" placeholder="{% trans 'https://twitter.com/yourhandle' %}" value="{{ user_profile.twitter|default:'' }}">

                            <label for="instagram">{% trans "Instagram:" %}</label>
                            <input type="url" id="instagram" name="instagram" placeholder="{% trans 'https://instagram.com/yourhandle' %}" value="{{ user_profile.instagram|default:'' }}">

                            <label for="tiktok">{% trans "TikTok:" %}</label>
                            <input type="url" id="tiktok" name="tiktok" placeholder="{% trans 'https://tiktok.com/@yourhandle' %}" value="{{ user_profile.tiktok|default:'' }}">

                            <label for="youtube">{% trans "YouTube:" %}</label>
                            <input type="url" id="youtube" name="youtube" placeholder="{% trans 'https://youtube.com/c/yourchannel' %}" value="{{ user_profile.youtube|default:'' }}">
                        </div>

                        <label for="bio">{% trans "Bio:" %}</label>
                        <textarea id="bio" name="bio" placeholder="{% trans 'Tell something about yourself' %}">{{ user_profile.bio|default:'' }}</textarea>

                        <button type="submit" name="submit_button" value="profileInfo">{% trans "Save changes" %}</button>

                        {% comment %}
                        <!--
                        <h1 id="address-content" class="address-id"><i class="ti ti-home-cog"></i>{% trans "Address" %}</h1>
                        <input type="hidden" name="form_type" value="address_details">

                         <div class="address-main-container">

                             <div class="address-container-2">
                             <h3 class="or-separator">{% trans "Input address" %}</h3>
                             <label for="street-address">{% trans "Street Address:" %}</label>
                             <input type="text" class="profile-settings-address-input1" id="street_address" name="street_address" placeholder="{% trans '1234 Main St' %}" value="{{ user_profile.street_address|default:'' }}">

                             <label for="zipcode">{% trans "Zip/Postal Code:" %}</label>
                             <input type="text" class="profile-settings-address-input1" id="zip_postal_code" name="zip_postal_code" placeholder="{% trans '12345' %}" value="{{ user_profile.zip_postal_code|default:'' }}">

                             <label for="country">{% trans "Country:" %}</label>
                             <input type="text" id="country" name="country" placeholder="{% trans 'Country' %}" value="{{ user_profile.country|default:'' }}">
                             </div>


                             <div class="address-container-2">
                             <h3 class="or-separator">{% trans "Or coordinates" %}</h3>
                             <label for="latitude">{% trans "Latitude:" %}</label>
                             <input type="text" class="profile-settings-address-input1" id="latitude" name="latitude" placeholder="{% trans 'Enter latitude' %}" value="{{ user_profile.latitude|default:'' }}">

                             <label for="longitude">{% trans "Longitude:" %}</label>
                             <input type="text" class="profile-settings-address-input1" id="longitude" name="longitude" placeholder="{% trans 'Enter longitude' %}" value="{{ user_profile.longitude|default:'' }}">
                             </div>
                             </div>

                             <button type="submit" name="submit_button" value="addressInfo">{% trans "Save changes" %}</button>
                        -->
                           {% endcomment %}

                        <h1 id="company-content" class="address-id"><i class="ti ti-clipboard-text"></i>{% trans "Company Information" %}</h1>

                        <label for="company_name">{% trans "Company Name:" %}</label>
                        <input type="text" id="company_name" name="company_name" placeholder="{% trans 'Your Company Name' %}" value="{{ user_profile.company_name|default:'' }}">

                        <label for="company_id_number">{% trans "Company Identification Number (IČO):" %}</label>
                        <input type="text" id="company_id_number" name="company_id_number" placeholder="{% trans '12345678' %}" value="{{ user_profile.company_id_number|default:'' }}">

                        <label for="tax_id_number">{% trans "Tax Identification Number (DIČ):" %}</label>
                        <input type="text" id="tax_id_number" name="tax_id_number" placeholder="{% trans 'SK1234567890' %}" value="{{ user_profile.tax_id_number|default:'' }}">

                        <label for="vat_number">{% trans "VAT Number (IČ DPH):" %}</label>
                        <input type="text" id="vat_number" name="vat_number" placeholder="{% trans 'SK1234567890' %}" value="{{ user_profile.vat_number|default:'' }}">

                        <label for="company_address">{% trans "Company Address:" %}</label>
                        <input type="text" id="company_address" name="company_address" placeholder="{% trans '1234 Business St' %}" value="{{ user_profile.company_address|default:'' }}">

                        <button type="submit" name="submit_button" value="companyInfo">{% trans "Save changes" %}</button>
                    </form>
                    {% if avatar_form.errors %}
                        <ul class="error-messages">
                            {% for field, errors in avatar_form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>

                <section class="change-become-seller settings-content-child" id="adding_tags">
                    <h1><i class="ti ti-tags"></i>{% trans "Add your tags" %}</h1>
                    <a href="{% url 'tagmanager:select_tag' username=username %}" target="_blank"><button type="submit">{% trans "Add tags" %}</button></a>
                </section>

                <section class="change-become-seller settings-content-child" id="adding_pobocka">
                    <h1><i class="ti ti-map-pin-plus"></i>{% trans "Pickup address" %}</h1>
                    <a href="{% url 'edit_profile:add_pobocka' username=username %}" target="_blank"><button type="submit">{% trans "Set place" %}</button></a>
                </section>

                <section class="change-become-seller settings-content-child" id="change-become-seller">
                    <h1><i class="ti ti-shopping-cart-up"></i>{% trans "Becoming seller" %}</h1>
                    <a href="{% url 'edit_profile:update_seller_status' %}" target="_blank"><button type="submit">{% trans "Become seller" %}</button></a>
                </section>

                <section class="change-email-content settings-content-child" id="change-email-content">
                    <h1><i class="ti ti-mail-exclamation"></i>{% trans "Email" %}</h1>
                    <a href="{% url 'account_email' %}" target="_blank"><button type="submit">{% trans "Email settings" %}</button></a>
                </section>

                <section class="change-password-content settings-content-child" id="change-password-content">
                    <h1><i class="ti ti-lock-cog"></i>{% trans "Password" %}</h1>
                    <a href="{% url 'account_change_password' %}" target="_blank"><button type="submit">{% trans "Change password" %}</button></a>
                </section>

                {% comment %}
                <!-- <section class="account-actions-content settings-content-child" id="account-actions-content">
                <h1><i class="ti ti-trash"></i>{% trans "Account Actions" %}</h1>
                <p>{% trans "Are you sure you want to delete your account? This action cannot be undone." %}</p>
                <button class="danger-btn">{% trans "Confirm Delete" %}</button>
                </section> -->
                {% endcomment %}

            </div>
        </div>
    </div>
{% endblock %}
