{% load static i18n %}

<div class="container">
  <div class="row">
    <div class="col">
        <ul>
          <h3>{% trans "About" %}</h3>
          <!--<li>{% trans "Company" %}</li>
          <li>{% trans "Careers" %}</li>
          <li>{% trans "News &amp; events" %}</li>
          <li>{% trans "Investor relations" %}</li>
          <li>{% trans "Manufacturing" %}</li>
          <li>{% trans "Corporate citizenship" %}</li>-->
          <li></li>
        </ul>
    </div>
    <div class="col">
        <ul>
          <h3>{% trans "Current Stats" %}</h3>
          <li>{% blocktrans with total_users=total_users %}Total registered users: {{ total_users }}{% endblocktrans %}</li>
        </ul>
    </div>
    <div class="col">
        <ul>
          <h3>{% trans "Legal" %}</h3>
          <!--<li>{% trans "Ordering resources" %}</li>
          <li>{% trans "TI API suite" %}</li>
          <li>{% trans "Ordering help &amp; FAQs" %}</li>
          <li>{% trans "Cross-reference search" %}</li>
          <li>{% trans "Authorized distributors" %}</li>
        -->
          <li><a href="{% url 'privacy_policy' %}">{% trans "Privacy policy" %}</a></li>
        </ul>
    </div>
    <div class="col">
      <h3>{% trans "Follow Us" %}</h3>
      <ul class="social-media">
        <!--<li><a href="https://www.twitter" target="_blank"><img class="icons" src="{% static 'images/ikona_twitter2.png' %}" width="40" height="40" alt="{% trans 'Twitter Icon' %}"></a></li>-->
        <!-- <li><a href="https://www.facebook.com" target="_blank"><img class="icons" src="{% static 'images/ikona_facebook2.png' %}" width="40" height="40" alt="{% trans 'Facebook Icon' %}"></a></li>
             <li><a href="https://www.instagram.com" target="_blank"><img class="icons" src="{% static 'images/ikona_instagram2.png' %}" width="40" height="40" alt="{% trans 'Instagram Icon' %}"></a></li> -->

        <div class="socializer a sr-32px sr-opacity sr-icon-white sr-pad">
          <span class="sr-etsy">
            <a href="https://www.gitlab.com/farmeris" class="ti-footer-holders" target="_blank" title="Gitlab">
              <i class="ti ti-brand-gitlab"></i>
            </a>
          </span>
          <span class="sr-youtube">
            <a href="https://www.youtube.com/@Farmeris_podcast" class="ti-footer-holders" target="_blank" title="Youtube">
              <i class="ti ti-brand-youtube"></i>
            </a>
          </span>
          <span class="sr-instagram">
            <a href="https://www.instagram.com/farmeris_podcast/" class="ti-footer-holders" target="_blank" title="Instagram">
              <i class="ti ti-brand-instagram"></i>
            </a>
          </span>
          <span class="sr-facebook">
            <a href="https://www.facebook.com/profile.php?id=61555121260090" class="ti-footer-holders" target="_blank" title="Facebook">
              <i class="ti ti-brand-facebook"></i>
            </a>
          </span>
          <span class="sr-github">
            <a href="https://www.github.com/Farmeris" class="ti-footer-holders" target="_blank" title="Github">
              <i class="ti ti-brand-github"></i>
            </a>
          </span>
        </div>

        <!-- https://bit.ly/48ngadS skopcene odtialto lmao, v buducnosti odtialto update -->
      </ul>
    </div>
  </div>
  <hr>
  <p>&copy; Farmeris - beta 28.8.2023 - v0.2.9
</div>
