<!--
        <form method="GET" action="{% url 'search' %}">
          <input type="text" placeholder="Search.." name="query" class="search-input">
          <button type="submit" class="search-btn">Search</button>
        </form>
        <button type="button" class="options-btn">Options</button>
      <nav class="dropdown-nav">
      <ul class="dropdown-menu">
        <div class="V-drp1">
          <button>Button 1</button>
          <ul class="submenu">
            <li><a href="#">Submenu 1-1</a></li>
            <li><a href="#">Submenu 1-2</a></li>
            <li><a href="#">Submenu 1-3</a></li>
          </ul>
        </div>
        <div class="V-drp2">
            <button>Button 2</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="https://www.google.com" target="_blank">google.com</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
        <div class="V-drp3">
            <button>Button 3</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="#">Submenu 1-2</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
        <div class="V-drp4">
            <button>Button 4</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="#">Submenu 1-2</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
        <div class="V-drp5">
            <button>Button 5</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="#">Submenu 1-2</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
        <div class="V-drp6">
            <button>Button 6</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="#">Submenu 1-2</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
        <div class="V-drp7">
            <button>Button 7</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="#">Submenu 1-2</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
        <div class="V-drp8">
            <button>Button 8</button>
            <ul class="submenu">
              <li><a href="#">Submenu 1-1</a></li>
              <li><a href="#">Submenu 1-2</a></li>
              <li><a href="#">Submenu 1-3</a></li>
            </ul>
        </div>
      </ul>
    </nav>-->