
{% extends 'polozka.html' %}
{% load static i18n %}

{% block extra_head %}
  <link href="{% static 'css/search2.css' %}" rel="stylesheet">
  <link href="{% static 'css/polozka_profile_view.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/polozka_profile_view2.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block polozka_new %}
  {% include 'search_header.html' %}
  {% include 'sidebar.html' %}

  {% include 'sidebar-btn.html' %}
  <div class="green-main-bg">
    <div class="blue-main-bg">
      {% for product in products %}
        {% include 'polozka_profile_view.html' with username=request.user.username nazov_produktu=product.nazov_produktu polozka=product %}
      {% endfor %}
      {% include 'pagination.html' with query_params=query_params %}
    </div>
  </div>
  <footer>
    {% include 'footer_content.html' %}
  </footer>
{% endblock %}
