{% load static i18n %}

<header class="dropdown-header">
  <form method="GET" action="{% url 'search:user_search2' %}">
    <div class="search-container">
      <input type="text" placeholder="{% trans 'Search users..' %}" name="query" class="search-input" value="{{ request.GET.query }}">
      <button type="submit" class="search-btn">{% trans 'Search' %}</button>
    </div>
  </form>
</header>
