
{% load static i18n %}
{% load url_filters %}

<div class="user-profile-card">

    <a href="{% url 'user_profile:user_profile' profile.user.username %}" class="user-profile-card-link">
    </a>

    <div class="user-header">
        {% if profile.avatar %}
            <a href="{% url 'user_profile:user_profile' profile.user.username %}" class="user-avatar-container">
                <img src="{{ profile.avatar.url }}" alt="{% trans 'Avatar' %}" class="user-avatar">
            </a>
        {% endif %}
    </div>

    <div class="user-details">
        <h2>{{ profile.user.username }}</h2>
        {% if profile.location %}
            <p>{{ profile.location }}</p>
        {% endif %}

    </div>

    <div class="user-socials">
        <p>
            {% if profile.website %}
                <i class="ti ti-link"></i><a href="{{ profile.website }}" target="_blank">{{ profile.website|clean_url }}</a>
            {% endif %}
        </p>

        <p class="social-ikonky">
            {% if profile.facebook %}
                <a href="{{ profile.facebook }}" target="_blank" class="social-ikonky"><i class="ti ti-brand-facebook"></i></a>
            {% endif %}
            {% if profile.twitter %}
                <a href="{{ profile.twitter }}" target="_blank" class="social-ikonky"><i class="ti ti-brand-twitter"></i></a>
            {% endif %}
            {% if profile.instagram %}
                <a href="{{ profile.instagram }}" target="_blank" class="social-ikonky"><i class="ti ti-brand-instagram"></i></a>
            {% endif %}
            {% if profile.youtube %}
                <a href="{{ profile.youtube }}" target="_blank" class="social-ikonky"><i class="ti ti-brand-youtube"></i></a>
            {% endif %}
            {% if profile.tiktok %}
                <a href="{{ profile.tiktok }}" target="_blank" class="social-ikonky"><i class="ti ti-brand-tiktok"></i></a>
            {% endif %}
        </p>
    </div>
    <div class="user-stats">
    </div>
</div>
