{% load static i18n %}

<a href="{% url 'user_profile:user_profile' profile.user.username %}" class="user-profile-card-link">
    <div class="user-profile-card">
        <div class="user-header">
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="{% trans 'Avatar' %}" class="user-avatar">
            {% endif %}
        </div>

        <div class="user-details">
            <h2>{{ profile.user.username }}</h2>
            {% if profile.location %}
                <p>{{ profile.location }}</p>
            {% endif %}
        </div>

        <p>
            {% if profile.website %}
                <a href="{{ profile.website }}" target="_blank">{% trans 'Website' %}</a>
            {% endif %}
        </p>

        <p>
            {% if profile.social_media %}
                <a href="{{ profile.social_media }}" target="_blank">{% trans 'Social Media' %}</a>
            {% endif %}
        </p>

        <div class="user-stats">
            {% if profile.tags.exists %}
                <div class="user-tags">
                    {% for tag in profile.tags.all %}
                        <span class="tag">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</a>
