
<!-- tagmanager/templates/request_tag.html -->

{% load static i18n %}

{% block head %}
<link href="{% static 'css/add_picture.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'images/favicon.ico' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>{% trans 'Request a New Tag' %}</h2>
    <form method="post" class="form-tag-request">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button type="submit">{% trans "Submit Tag Request" %}</button>
            <button type="submit" formaction="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'main:main' %}{% endif %}" formmethod="get">
                {% trans "Go Back" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
