
<!-- select_tag.html -->

{% load static i18n %}

{% block head %}
    <link href="{% static 'css/add_picture.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "Select a Tag" %}</h1>
        <form method="post" action="{% url 'tagmanager:select_tag' username=user.username %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-buttons">
                <button type="submit">{% trans "Submit" %}</button>
            </div>
        </form>
        <!-- Separate form for going back, no JavaScript needed -->
        <div class="">
            <form action="{{ referrer }}" method="get">
                <button type="submit">{% trans "Go Back" %}</button>
            </form>
            <form action="{% url 'tagmanager:request_tag' %}" method="get">
                <button type="submit">{% trans "Request New Tag" %}</button>
            </form>
        </div>
        <p>{% trans "You can add multiple tags. Please submit one at a time." %}</p>
    </div>
{% endblock %}
