<!DOCTYPE html>
<html>
<head>
    <title>Set Username</title>
</head>
<body>
    <h2>Set your Username</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Set Username</button>
    </form>
</body>
</html>
