.form-errors {
    color: red;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.has-error .error-message,
.has-error input,
.has-error select,
.has-error textarea {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}
