
/* tags.css */

.tags-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}

.tag-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1; /* keeps it accessible but not visible */
}

.tag-label {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: var(--tag-bgclr);
    border: var(--tag-bd) solid transparent;
    border-radius: var(--tag-bd-rds);
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}
.tag-h2{
    margin-bottom: 0 !important;
}

.tag-label:hover {
    border-color: var(--sidebar-bdclr);
    box-shadow: inset 0 2px 4px rgba(173, 216, 230, 0.6);
}

.tag-checkbox + .tag-label:hover {
    border-color: var(--sidebar-bdclr);
    box-shadow: inset 0 2px 4px rgba(173, 216, 230, 0.6);
}

.tag-checkbox:checked + .tag-label {
    border-color: var(--tag-bdclr);
    background-color: var(--tag-bgclr-hvr);
    box-shadow: inset 0 2px 4px rgba(0, 100, 0, 0.6);
}
.tags-container {
    padding: 5px;
}

.tags-container .tag-item {
    display: inline-block;
}
