.main-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 15px;
  min-height: calc(100vh - 600px);
  color: var(--text-color);
  font-family: 'UniSans', sans-serif;
}

.main-container h1{
  display: flex;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  font-family: 'UniSans', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.main-container h1 img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    filter: var(--farmeris-logo-filter);
}

.green-main-bg {
  background-image: var(--main-bg-image) !important;
  min-height: 100vh !important;
}
