

/* Responsive Design Adjustments */
@media (max-width: 600px) {
    .main-container{
        padding: 0px;
    }

    .green-main-bg {
        background-image: var(--main-bg-image-mobile) !important;
        min-height: 100vh !important;
    }

}
