.rec_farm_container {
    height: 250px;
    width: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    padding: 10px; /* Padding added around the container */
}

.product-pic2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 180px; /* Adjusted width to allow for equal padding/margin */
    height: 180px; /* Adjusted height to allow for equal padding/margin */
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 10px; /* Margin to match the padding of the container */
    margin-left: 10px; /* Margin to match the padding of the container */
    margin-right: 10px; /* Margin to match the padding of the container */
}

.product-pic2 img,
.product-pic2 p {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0; /* Resetting margin for image and paragraph */
}

.product-pic2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sidebar-bgclr);
    border-radius: 5px;
}
