
<!-- map/show_map.html-->

{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/show_map.css' %}" rel="stylesheet">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/openlayers/dist/ol.css" type="text/css">
{% endblock %}

{% block polozka %}
    <div class="map-container">
        <!-- <div class="search-box">
             <input type="text" id="search-input" placeholder="Enter location name...">
             <button onclick="searchAndZoom()">Search</button>
             </div>
        -->
        <header class="dropdown-header">
            <form method="GET" action="{% url 'map:show_map' %}">
                <div class="search-container">
                    <input type="text" placeholder="{% trans 'Search..' %}" name="query" class="search-map-input search-map-style search-btn" value="{{ request.session.user_input_query }}">
                    <button type="submit" class="search-map-btn search-map-style search-btn">{% trans 'Search' %}</button>
                </div>
            </form>
        </header>

        <div id="map" class="map"></div>
        <div id="info-map" class="info-map" style="display: none;">
            <a id="username-link" href="" target="_blank">
                <div class="tooltip-content info-map-username" id="username">{% trans "Username" %}</div>
            </a>
            <div id="phone" class="tooltip-content" style="display: none;"><strong>{% trans "Phone:" %}</strong> <span></span></div>
            <div id="website" class="tooltip-content" style="display: none;"><strong>{% trans "Website:" %}</strong> <a href="" target="_blank"></a></div>
            <div id="company" class="tooltip-content" style="display: none;"><strong>{% trans "Company:" %}</strong> <span></span></div>
            <div id="state" class="tooltip-content" style="display: none;"><strong>{% trans "State/Province:" %}</strong> <span></span></div>
        </div>

        {% comment %}
        <!--
        <div class="search-container">
        {% for pobocka in pobocky %}
        <p>{{ pobocka.pobocka_name }}</p>
        {% empty %}
        <p>No results found for "{{ query }}".</p>
        {% endfor %}
        <p>{{ highlight_pobocka_name }}</p>
        </div> -->
        {% endcomment %}

    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/openlayers/dist/ol.js"></script>
    <script src="{% static 'js/dataService.js' %}"></script>
    <script src="{% static 'js/mapBase.js' %}"></script>
    <script src="{% static 'js/layerManager.js' %}"></script>
    <script src="{% static 'js/uiInteractions.js' %}"></script>
    <script src="{% static 'js/initMap.js' %}"></script>
    <script src="{% static 'js/animationManager.js' %}"></script>
    <script src="{% static 'js/showHide.js' %}"></script>
{% endblock %}
