{% load i18n %}

<div class="price">
  <label for="price">{% trans "Price:" %}</label>
  <div class="input-wrapper-dop">
    <input type="number" id="price" min="0" placeholder="{% trans 'Price:' %}" name="price" step="0.01">
    <div id="currency" name="currency" class="unit-dop mar">
      {{ user_profile.preferred_currency }}
    </div>
  </div>
  <label for="amount">{% trans "Amount:" %}</label>

  <div class="input-wrapper-dop">
    <input type="number" id="amount" name="amount" min="0" value="1">
    <!--<label for="unit">Jednotka:</label>-->
    <select id="unit" name="unit" class="unit-dop">
      <option value="kg">kg</option>
      <option value="ks">ks</option>
      <option value="g">g</option>
      <option value="l">{% trans "liter" %}</option>
    </select>
  </div>
  {% if cena_add %}
    <div class="deselect-button-container">
        <button type="submit" name="action" value="add_cena" for="cena-add" class="cena-add add-button-icon-submit">
            <div class="plus-icon"></div>
        </button>
    </div>
  {% endif %}

</div>
