{% load static %}
{% load custom_filters i18n %}

<link href="{% static 'css/doprava_pridanie_display.css' %}" rel="stylesheet">
<link href="{% static 'css/doprava_pridanie_display2.css' %}" rel="stylesheet">

{% for transport in transport_list %}
    {% if transport.user_profile.user == request.user %}
        <div class="doprava-display-container-holder"> 
            <div class="doprava-display-container">
                <div class="transport-output">
                    <label for="transport" class="doprava-first">{% trans "Transport type:" %}</label>
                    <div id="transport">
                        {% if transport.transport_type == 'osobne' %}
                            {% trans "In person" %}
                        {% elif transport.transport_type == 'online' %}
                            {% trans "Online" %}
                        {% elif transport.transport_type == 'kurier' %}
                            {% trans "Courier" %}
                        {% elif transport.transport_type == 'vlastne' %}
                            {% trans "Custom" %}
                        {% endif %}
                    </div>
                    <label for="transport_price">{% trans "Price:" %}</label>
                    <div id="transport_price">
                        {{ transport.price|decimal_places:2 }}
                    </div>

                    <!--<label for="transport_unit">Mena:</label>-->
                    <div id="currency">
                        {% if transport.currency == 'eur' %}
                            EUR
                        {% elif transport.currency == 'czk' %}
                            CZK
                        {% elif transport.currency == 'usd' %}
                            USD
                        {% endif %}
                    </div>

                    <label for="unit">{% trans "Amount:" %}</label>
                    <div id="transport_amount">
                        {{ transport.amount|decimal_places:4 }}
                    </div>
                    <div id="unit">
                        {% if transport.unit == 'kg' %}
                            kg
                        {% elif transport.unit == 'ks' %}
                            ks
                        {% elif transport.unit == 'g' %}
                            g
                        {% elif transport.unit == 'l' %}
                            {% blocktrans with amount=transport.amount count counter=amount %}
                                {{ counter|decimal_places:3 }} liter
                            {% plural %}
                                {{ counter|decimal_places:3 }} liters
                            {% endblocktrans %}
                        {% endif %}
                    </div>
                    {% if transport.transport_notes %}
                        <label for="transport_notes">{% trans "Additional notes:" %}</label>
                        <div id="transport_notes" class="transport_notes">
                            {{ transport.transport_notes }}
                        </div>
                    {% endif %}
                    <div class="deselect-button-container">
                        {% include 'transport_select.html' with transport_id=transport.id %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
