{% load static %}
{% load custom_filters i18n %}
{% load djmoney %}

<link href="{% static 'css/doprava_pridanie_display.css' %}" rel="stylesheet">

{% for transport in transport_list %}
    {% comment %}
    <!-- <div class="debug">
    Transport Name: {{ transport.transport_name }}<br>
    Transport Type: {{ transport.transport_type }}<br>
    Price: {{ transport.price }}<br>
    Currency: {{ transport.currency }}<br>
    Amount: {{ transport.amount }}<br>
    Unit: {{ transport.unit }}<br>
    Notes: {{ transport.transport_notes }}<br>
    </div>
    -->
    {% endcomment %}
    <div class="doprava-display-container-holder">
        <div class="doprava-display-container">
            <div class="transport-output">
                <label for="transport" class="doprava-first">{% trans "Transport type:" %}</label>
                <div id="transport">
                    {% if transport.transport_type == 'online' %}
                        {% trans "Online" %}
                    {% elif transport.transport_type == 'kurier' %}
                        {% trans "Courier" %}
                    {% elif transport.transport_type == 'vlastne' %}
                        {% trans "Custom" %}
                    {% endif %}
                </div>

                {% if transport.price %}
                    <label for="transport_price">{% trans "Transport price:" %}</label>
                    <div id="transport_price">
                        {{ transport.price }}
                    </div>
                {% endif %}

                {% if transport.amount %}
                    <label for="unit">{% trans "Max. transportable:" %}</label>
                    <div id="transport_amount">
                        {{ transport.amount|decimal_places:4 }}
                    </div>
                {% endif %}
                {% if transport.unit %}
                    <div id="unit">
                        {% if transport.unit == 'kg' %}
                            kg
                        {% elif transport.unit == 'ks' %}
                            ks
                        {% elif transport.unit == 'g' %}
                            g
                        {% elif transport.unit == 'l' %}
                            {% blocktrans with amount=transport.amount count counter=amount %}
                                {{ counter|decimal_places:3 }} liter
                                {% plural %}
                                {{ counter|decimal_places:3 }} liters
                            {% endblocktrans %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if transport.transport_notes %}
                    <label for="transport_notes">{% trans "Additional notes:" %}</label>
                    <div id="transport_notes" class="transport_notes">
                        {{ transport.transport_notes }}
                    </div>
                {% endif %}

                {% if deleting_items %}
                    <div class="transport-delete-container">
                        {% include 'transport_delete.html' with transport_id=transport.id %}
                    </div>
                {% elif selecting_items %}
                    <div class="transport-select-container">
                        {% include 'transport_select.html' with transport_id=transport.id %}
                    </div>
                {% endif %}
                {% if show_checkbox and transport.user_profile.user == request.user %}
                    <label class="checkbox-container-tr">
                        {% trans "Include:" %}
                        <input type="checkbox" name="transport_selected" value="{{ transport.id }}">
                        <span class="checkmark-tr"></span>
                    </label>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
