{% load static %}
{% load custom_filters i18n %}

<link href="{% static 'css/doprava_pridanie_display.css' %}" rel="stylesheet">
<link href="{% static 'css/doprava_pridanie_display2.css' %}" rel="stylesheet">

{% for polozka_transport in polozka_transport_list %}
<div class="doprava-display-container-holder"> 
    <div class="doprava-display-container">         
        <div class="transport-output">
            <label for="transport" class="doprava-first">{% trans "Transport type:" %}</label>
            <div id="transport">
                {% if polozka_transport.transport.transport_name == 'osobne' %}
                    {% trans "In person" %}
                {% elif polozka_transport.transport.transport_name == 'online' %}
                    {% trans "Online" %}
                {% elif polozka_transport.transport.transport_name == 'kurier' %}
                    {% trans "Courier" %}
                {% elif polozka_transport.transport.transport_name == 'vlastne' %}
                    {% trans "Custom" %}
                {% endif %}
            </div>
            <label for="transport_price">{% trans "Price:" %}</label>
            <div id="transport_price">
                {{ polozka_transport.transport.price|decimal_places:2 }}
            </div>

            <!--<label for="transport_unit">Mena:</label>-->
            <div id="currency">
                {% if polozka_transport.transport.currency == 'eur' %}
                    EUR
                {% elif polozka_transport.transport.currency == 'czk' %}
                    CZK
                {% elif polozka_transport.transport.currency == 'usd' %}
                    USD
                {% endif %}
            </div>

            <label for="unit">{% trans "Amount:" %}</label>
            <div id="transport_amount">
                {{ polozka_transport.transport.amount|decimal_places:5 }}
            </div>
            <div id="unit">
                {% if polozka_transport.transport.unit == 'kg' %}
                    kg
                {% elif polozka_transport.transport.unit == 'ks' %}
                    ks
                {% elif polozka_transport.transport.unit == 'g' %}
                    g
                {% elif polozka_transport.transport.unit == 'liter' %}
                    {% trans "liter" %}
                {% elif polozka_transport.transport.unit == 'litrov' %}
                    {% trans "litres" %}
                {% endif %}
            </div>
            {% if polozka_transport.transport.transport_notes %}
                <label for="transport_notes">{% trans "Additional notes:" %}</label>
                <div id="transport_notes" class="transport_notes">
                    {{ polozka_transport.transport.transport_notes }}
                </div>
            {% endif %}
            {% if request.user == polozka.user_profile.user %}
                <div class="deselect-button-container">
                    {% include 'transport_deselect.html' with transport_id=polozka_transport.transport.id %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}