
{% load static i18n %}
{% load tz %}
<!DOCTYPE html>
<html lang="en" data-theme="{{ user_profile.theme }}">
<head>
  <!---
  <link href="{% static 'css/polozka_newx.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/root.css' %}" rel="stylesheet">
  <link href="{% static 'css/general_mobile_styles.css' %}" rel="stylesheet">
  <link href="{% static 'css/merged_icons.css' %}" rel="stylesheet">
  -->
  {% if global_css_styles %}
    {% for css_file in global_css_styles %}
        <link rel="stylesheet" href="{% static css_file %}">
    {% endfor %}
  {% endif %}
  {% block extra_head %}{% endblock %}
  {% block extra_css_polozka %}{% endblock %}
  {% block extra_css_doprava %}{% endblock %}
  {% block extra_css_zobrazenie %}{% endblock %}
  <meta charset="UTF-8">
  <!--{% block pagerefresh %}{% endblock %}
  <meta http-equiv="refresh" content="60">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Farmeris" %}</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/tabler-icons.css">

  <!-- Social media icons in the footer   -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/vaakash/socializer@f4c4e9/css/socializer.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Farmeris">
  <meta property="og:description" content="Explore the world of local farming with Farmeris. Join our community today!">
  <meta property="og:image" content="{% static 'images/favicon.ico' %}">
  <meta property="og:url" content="https://www.farmeris.sk/">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Farmeris">
  <meta name="twitter:description" content="Explore the world of local farming with Farmeris. Join our community today!">
  <meta name="twitter:image" content="{% static 'images/favicon.ico' %}">
  <meta name="twitter:url" content="https://www.farmeris.sk/">

</head>


<body>

  <main>
  {% block polozka_new %}{% endblock %}
  </main>
  {% block extra_js %}{% endblock %}
</body>
</html>
