
{% extends 'polozka.html' %}
{% load static i18n %}

{% block polozka_new %}
  {% include 'sidebar.html' %}

  {% include 'sidebar-btn.html' %}
  <div class="green-main-bg" id="1">
    <div class="blue-main-bg">
      {% block polozka %}{% endblock %}
    </div>
  </div>
  <footer>
    {% include 'footer_content.html' %}
  </footer>

{% endblock %}
