
{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/polozka_pridanie4.css' %}" rel="stylesheet">
    <link href="{% static 'css/tags.css' %}" rel="stylesheet">
{% endblock %}

{% block polozka %}
    <form class="form-pridavanie-polozky" method="post" action="{% url 'add_product_main:user_pridaj_polozku' username=request.user.username %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="product-form">
            <!-- Image Input -->
            <div class="input-group">
                <label for="product-image"><i class="ti ti-camera-plus"></i> {% trans "Add image (max.1)" %}</label>
                <input type="file" id="main-image-upload" name="image">
            </div>

            <!-- Title Input -->
            <div class="input-group">
                <label for="title">{% trans "Title" %}</label>
                <input type="text" id="title" name="nazov_produktu" placeholder="{% trans 'Title' %}">
            </div>

            <!-- Subtitle Input -->
            <div class="input-group">
                <label for="subtitle">{% trans "Subtitle" %}</label>
                <input type="text" id="subtitle" name="info_nazov_produktu" placeholder="{% trans 'Subtitle' %}">
            </div>

            <!-- Description Input -->
            <div class="input-group">
                <label for="description"><i class="ti ti-file-description"></i> {% trans "Description" %}</label>
                <textarea id="description" name="info_produktu" rows="2" placeholder="{% trans 'Input here description' %}"></textarea>
            </div>
            <div class="cenay" id="2">
                <div class="cena-container-label">
                    <h2 class="cena-h2"><i class="ti ti-shopping-bag-plus"></i> {% trans "Add price" %}</h2>
                </div>
                <div class="main-price">
                    {% include '2polozka_cena_pridanie.html' with cena_add=False %}
                </div>
                {% url 'user_profile:user_profile' username=username as profile_url %}
                <p class="cena-h4">
                    {% blocktrans with profile_url=profile_url %}
                        *Adding next prices via <a class="product-info-pouzivatel" href="{{ profile_url }}" target="_blank">profile</a>
                    {% endblocktrans %}
                </p>
            </div>

            <div class="tags-main-container">
                <h2 class="cena-h2 tag-h2"><i class="ti ti-tag"></i> {% trans "Add search tags:" %}</h2>
                <h3 class="tag-h2">{% trans "Your Tags" %}</h3>
                <div class="tags-container">
                    {% for tag in user_tags %}
                        <div class="tag-item">
                            <input type="checkbox" id="user_tag_{{ forloop.counter }}" name="user_tags" value="{{ tag.id }}" class="tag-checkbox">
                            <label for="user_tag_{{ forloop.counter }}" class="tag-label">
                                {{ tag.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <h3 class="tag-h2">{% trans "Other Tags" %}</h3>
                <div class="tags-container">
                    {% for tag in general_tags %}
                        <div class="tag-item">
                            <input type="checkbox" id="general_tag_{{ forloop.counter }}" name="general_tags" value="{{ tag.id }}" class="tag-checkbox">
                            <label for="general_tag_{{ forloop.counter }}" class="tag-label">
                                {{ tag.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="dopravay" id="3">
                <h2 class="cena-h2"><i class="ti ti-truck-delivery"></i> {% trans "Add transport" %}</h2>
                <div class="main-transport">
                    {% include '2polozka_doprava_pridanie.html' with transport_add=False %}
                </div>
                <div class="transport-info">
                    <h2 class="dopravax-h2">{% trans "Adding other options of transport from global options:" %}</h2>
                </div>
                {% include 'doprava_pridanie_display.html' with deleting_items=False selecting_items=False show_checkbox=True %}
            </div>

            <div class="pobocka-location-section">
                <h2 class="cena-h2 tag-h2">Pickup address</h2>
                <div class="add-product-pickup">
                    <input type="checkbox" id="select-individual" name="select_individual">
                    <label for="select-individual">Manually select individual pickup locations</label>
                    <div class="content-container">
                        <div class="select-individual-toggled doprava-display-container">
                            {% for pobocka in pobocky %}
                                <div class="pobocka-location-container doprava-display-container">
                                    <input type="checkbox" id="pobocka_{{forloop.counter}}" name="pobocka_location" value="{{ pobocka.id }}">
                                    <label for="pobocka_{{forloop.counter}}">
                                        <div class="pobocka-details">
                                            <p>{{ pobocka.city }}</p>
                                            <p>{{ pobocka.detailed_location }}</p>
                                            <p>{{ pobocka.notes }}</p>
                                        </div>
                                        {% if pobocka.map_image %}
                                            <a href="{% url 'map:show_map' %}?query={{ pobocka.pobocka_name }}" target="_blank">
                                                <img src="{{ pobocka.map_image.url }}" alt="{% trans 'Map image for' %} {{ pobocka.pobocka_name }}" class="pobocka-pic-width-height">
                                            </a>
                                        {% endif %}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="select-individual-not-toggled doprava-display-container">
                            {% if pobocky %}
                                <ul>
                                    {% for pobocka in pobocky %}
                                        <div class="select-individual-transport-pobocka doprava-display-container">
                                            <div class="pobocka-details">
                                                <p>{{ pobocka.city }}</p>
                                                <p>{{ pobocka.detailed_location }}</p>
                                                <p>{{ pobocka.notes }}</p>
                                            </div>
                                            {% if pobocka.map_image %}
                                                <a href="{% url 'map:show_map' %}?query={{ pobocka.pobocka_name }}" target="_blank">
                                                    <img src="{{ pobocka.map_image.url }}" alt="{% trans 'Map image for' %} {{ pobocka.pobocka_name }}" class="pobocka-pic-width-height">
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{% trans "No available pickup locations." %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="availability-section" id="availability">
                <h2 class="availability-header"><i class="ti ti-calendar"></i> {% trans "Add availability" %}</h2>

                <!-- Availability Start Date Input -->
                <div class="input-group">
                    <label for="availability-start-date">{% trans "Availability start date" %}</label>
                    <input type="date" id="availability-start-date" name="availability_start_date" placeholder="{% trans 'Availability start (optional)' %}">
                </div>

                <!-- Availability End Date Input -->
                <div class="input-group">
                    <label for="availability-end-date">{% trans "Availability end date" %}</label>
                    <input type="date" id="availability-end-date" name="availability_end_date" placeholder="{% trans 'Availability end (optional)' %}">
                </div>

                <!-- Stock Count Input -->
                <div class="input-group">
                    <label for="stock-count">{% trans "Amount in the stock" %}</label>
                    <input type="number" id="stock-count" name="stock_count" placeholder="{% trans 'Amount (optional)' %}">
                </div>

                <!-- Checkbox for Available Until Out of Stock -->
                <div class="input-group checkbox-group">
                    <label for="available-until-out-of-stock">{% trans "Available till out of stock?" %}</label>
                    <input type="checkbox" id="available-until-out-of-stock" name="available_until_out_of_stock">
                </div>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="submit-button">{% trans "Add item" %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/polozka_pridanie.js' %}"></script>
{% endblock %}
