
{% load static %}
{% load i18n %}

<div class="sidebar-hide-show-btn-container">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="toggle_sidebar" value="1">
        <button type="submit" class="sidebar-hide-show-btn {% if sidebar_visible %}sidebar-hidden{% else %}sidebar-shown{% endif %}">
            <span class="left-bar-bg"></span>
            <span class="left-bar"></span>
            <span class="right-bar-bg"></span>
            <span class="right-bar"></span>
        </button>
    </form>
</div>

