
<!-- sidebar.html-->

{% load i18n %}
{% load custom_filters %}
{% load static %}
{% load uuid_username_tag %}

<!-- Stylesheets -->
{% if sidebar_visible %}
    <link href="{% static 'css/sidebar2.css' %}" rel="stylesheet" media="screen">
{% else %}
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet" media="screen">
{% endif %}
<link href="{% static 'css/sidebar_mobile.css' %}" rel="stylesheet" media="screen">

<!-- In the future redesign as login_app/middlewares.py sidebar_visible cos this logic sucks -->
{% if user.is_authenticated %}
  {% if user.userprofile.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
  {% else %}
    <link rel="stylesheet" href="{% static 'css/light-theme.css' %}">
  {% endif %}
{% else %}
  {% if theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
  {% else %}
    <link rel="stylesheet" href="{% static 'css/light-theme.css' %}">
  {% endif %}
{% endif %}

<!-- Sidebar Content -->
<label class="mobile-side-container">
  <input type="checkbox" class="mobile-checkbox">
  <span class="menu"> <span class="hamburger"></span> </span>

  <nav class="sidebar">
    <div class="sidebar-mobile-left">
      {% include 'user_profile_display.html' %}
      <div class="sidebar-menu-content3">
        {% include 'sidebar_menu.html' %}
      </div>
    </div>
    <!-- Navigation links -->
    <div class="sidebar-butt-container">
      <div class="sidebar-butt-widget">
        <ul>
          {% if request.user.username|is_uuid_username %}
            <li>
              <a class="sidebar-button-a" href="{% url 'login_app:set_username' %}">
                <span class="sidebar-button-a-ti-container"><i class="ti ti-user-edit"></i><span class="sidebar-button-a-text">{% trans "Set username" %}</span></span>
              </a>
            </li>
          {% endif %}
          <li>
            <a class="sidebar-button-a {% if current_view_name == 'main' %}focused{% endif %}" href="{% url 'main:main' %}">
              <span class="sidebar-button-a-ti-container"><i class="ti ti-home"></i><span class="sidebar-button-a-text">{% trans "Home" %}</span></span>
            </a>
          </li>
          <li>
            <a class="sidebar-button-a {% if current_view_name == 'map' %}focused{% endif %}" href="{% url 'map:show_map' %}">
              <span class="sidebar-button-a-ti-container"><i class="ti ti-map-pin-search"></i><span class="sidebar-button-a-text">{% trans "Map" %}</span></span>
            </a>
          </li>
          <li>
            <a class="sidebar-button-a {% if current_view_name == 'search' %}focused{% endif %}" href="{% url 'search:user_search' %}">
              <span class="sidebar-button-a-ti-container"><i class="ti ti-search"></i><span class="sidebar-button-a-text">{% trans "Search" %}</span></span>
            </a>
          </li>
          <li>
            <a class="sidebar-button-a {% if current_view_name == 'search2' %}focused{% endif %}" href="{% url 'search:user_search2' %}">
              <span class="sidebar-button-a-ti-container"><i class="ti ti-user-search"></i><span class="sidebar-button-a-text">{% trans "Profiles" %}</span></span>
            </a>
          </li>
          {% if user.is_authenticated %}

            {% comment %}
            <!-- <li>
                 <a class="sidebar-button-a {% if current_view_name == 'chat_general' %}focused{% endif %}" href="{% url 'chat_general:user_chat_general' username=user.username %}">
                 <span><i class="ti ti-messages"></i>  {% trans "Chat" %}</span>
                 </a>
                 </li> -->
            {% endcomment %}

            {% if user.userprofile.is_seller %}
              <li>
                <a class="sidebar-button-a {% if current_view_name == 'user_profile_edit' %}focused{% endif %}" href="{% url 'user_profile:user_profile_edit' username=user.username %}">
                  <span class="sidebar-button-a-ti-container"><i class="ti ti-shopping-cart-plus"></i><span class="sidebar-button-a-text">{% trans "My offers" %}</span></span>
                </a>
              </li>
              <li>
                <a class="sidebar-button-a {% if current_view_name == 'user_pridaj_dopravu' %}focused{% endif %}" href="{% url 'add_product_main:user_pridaj_dopravu' username=user.username %}">
                  <span class="sidebar-button-a-ti-container"><i class="ti ti-truck"></i><span class="sidebar-button-a-text">{% trans "My Transport" %}</span></span>
                </a>
              </li>
            {% endif %}
          {% else %}
            <li>
              <a class="sidebar-button-a" href="{% url 'account_login' %}">
                <span class="sidebar-button-a-ti-container"><i class="ti ti-messages"></i><span class="sidebar-button-a-text">{% trans "Login for more" %}</span></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
    <!-- Theme switcher form -->
    <div class="sidebar-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle" class="sidebar-menu-button"><i class="ti ti-settings"></i></label>
      <div class="sidebar-menu-content">
        {% include 'sidebar_menu.html' %}
      </div>
    </div>
  </nav>
</label>

<!-- Scripts -->
{% block extra_js %}
  {% comment %}
  <!-- <script src="{% static 'js/theme_switch.js' %}"></script>
  <script src="{% static 'js/changes-scripts.js' %}"></script>
  <script src="{% static 'js/menu-hide.js' %}"></script> -->
  {% endcomment %}
  <script src="{% static 'js/menu-hide.js' %}"></script>
{% endblock %}
