{% load i18n %}

{% for pobocka in pobocky %}
    <div class="pobocka-container">
        <p>{% trans "City" %}: {{ pobocka.city }}</p>
        <p>{% trans "Detailed Location" %}: {{ pobocka.detailed_location }}</p>
        <p>{% trans "Notes" %}: {{ pobocka.notes }}</p>
        {% if pobocka.map_image %}
            <a href="{% url 'map:show_map' %}?query={{ pobocka.pobocka_name }}" target="_blank">
                <img src="{{ pobocka.map_image.url }}" alt="{% blocktrans %}Map image for {{ pobocka.pobocka_name }}{% endblocktrans %}" class="pobocka-pic-width-height">
            </a>
        {% endif %}
    </div>
{% endfor %}
