:root {
    --profile-bg-color: var(--product-dark-bg);
    --profile-border-color: var(--border-color);
    --profile-text-color: var(--product-text-primary-color);
    --profile-secondary-text-color: var(--secondary-color);
    --profile-hover-bg-color: var(--hover-bg);
    --profile-active-color: var(--active-color);
}

.profile-card {
    background-color: var(--profile-bg-color);
    border: var(--border-thickness) solid var(--profile-border-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.profile-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.profile-avatar img {
    border: var(--border-thickness) solid var(--profile-border-color);
    border-radius: 50%;
}

.profile-info, .profile-contact {
    color: var(--profile-secondary-text-color);
}

.profile-info h3 {
    color: var(--profile-text-color);
}

.profile-info, .profile-contact, .profile-avatar {
    background-color: var(--product-lighter-dark-bg);
    border-bottom: var(--border-thickness) solid var(--profile-border-color);
}

.profile-location, .profile-bio, .profile-website, .profile-social-media {
    color: var(--profile-secondary-text-color);
}

.profile-card a:hover, .profile-card a:focus {
    background-color: var(--profile-hover-bg-color);
    color: var(--profile-active-color);
    border-radius: 5px;
}
