:root{
    --user-profile-card-margin: 30px;
}

/* saving here user_profile_view.css */
.user-profile-card-link {
    display: flex;
    position: absolute;
    width: 250px;
    height: 230px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    z-index: 2;
    transform: translate(0) !important;
}

.user-profile-card {
    position: relative;
    width: 250px;
    height: 230px;
    padding: 15px;
    padding-top: 0;
    /* margin: 20px; */
    margin-left: var(--user-profile-card-margin);
    margin-top: calc(var(--user-profile-card-margin) + 50px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--product-dark-bg);
    border: var(--border-thickness) solid var(--border-color);
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--text-color);
    z-index: 1;
}

.user-profile-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.user-profile-card > *{
    transform: translateY(-50px);
}

.user-header {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.user-avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-top: -50px; */
    background-color: var(--secondary-color);
    border: var(--border-thickness) solid var(--border-color);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.user-profile-card:hover .user-avatar,
.user-avatar:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-profile-card:hover .user-avatar img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-avatar:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

.user-header h2 {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details p,
.user-stats span {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    padding: 10px;
    margin: 10px;
    background-color: var(--product-text-primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.user-socials{
    z-index: 3;
}

.user-profile-card p{
    font-size: 15px;
}
.social-ikonky .ti{
    font-size: 20px;
}

.user-profile-card a,
.user-profile-card a:visited {
    text-decoration: none;
    color: inherit;
}

.user-profile-card a:hover,
.user-profile-card a:focus {
    text-decoration: none;
}

.user-profile-card a:hover {
    color: purple;
}
