
/* saving here user_profile_view.css */
.user-profile-card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.user-profile-card {
    width: 250px;
    height: 230px;
    margin: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--product-dark-bg);
    border: var(--border-thickness) solid var(--border-color);
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--text-color);
}

.user-profile-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.user-header {
    position: relative;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-top: -50px; */
    background-color: var(--secondary-color);
    border: var(--border-thickness) solid var(--border-color);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.user-profile-card:hover .user-avatar,
.user-avatar:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-profile-card:hover .user-avatar img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-avatar:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-header h2 {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details p,
.user-stats span {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn {
    padding: 10px;
    margin: 10px;
    background-color: var(--product-text-primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.user-profile-card a,
.user-profile-card a:visited {
    text-decoration: none;
    color: inherit;
}

.user-profile-card a:hover,
.user-profile-card a:focus {
    text-decoration: none;
}

.user-profile-card a:hover {
    color: purple;
}
