{% load static i18n %}

{% block extra_css_zobrazenie %}
    <link href="{% static 'css/main_menu.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main_menu_mobile.css' %}" rel="stylesheet" media="screen">
{% endblock %}

<div class="header-bar">
    <form method="GET" action="{% url 'search:user_search' %}" class="search-form">
        <input type="text" placeholder="{% trans 'Search..' %}" name="query" class="search-field" value="{{ request.GET.query }}">
        <button type="submit" class="search-button">{% trans 'Search' %}</button>
    </form>

    <!-- Additional buttons next to the search bar -->
    <a href="{% url 'main:main' %}" class="header-menu-btn header-btn {% if current_view_name == 'main' %}hidden{% endif %}">
        <i class="ti ti-home"></i> {% trans 'Home' %}
    </a>
    {% comment %}
    <!-- <a href="{% url 'texts:about' %}" class="header-menu-btn header-btn {% if current_view_name == 'about' %}hidden{% endif %}">
         {% trans 'About' %}
         </a> -->

    <!-- <a href="{% url 'map:show_map' %}" class="header-menu-btn header-btn {% if current_view_name == 'map' %}hidden{% endif %}">
         <i class="ti ti-map-pin"></i> {% trans 'Map' %}
         </a> -->
    {% endcomment %}

    <a href="{% url 'texts:manifesto' %}" class="header-menu-btn header-btn {% if current_view_name == 'manifesto' %}hidden{% endif %}">
        <i class="ti ti-notebook"></i> {% trans 'Manifesto' %}
    </a>
    <a href="{% url 'texts:tutorial' %}" class="header-menu-btn header-btn {% if current_view_name == 'tutorial' %}hidden{% endif %}">
        <i class="ti ti-slideshow"></i> {% trans 'Tutorial' %}
    </a>
    <a href="{% url 'texts:contact' %}" class="header-menu-btn header-btn {% if current_view_name == 'contact' %}hidden{% endif %}">
        <i class="ti ti-mail"></i> {% trans 'Contact' %}
    </a>

    <form method="GET" action="{% url 'search:user_search' %}" class="search-form-mobile">
        <input type="text" placeholder="{% trans 'Search..' %}" name="query" class="search-field" value="{{ request.GET.query }}">
        <button type="submit" class="search-button">{% trans 'Search' %}</button>
    </form>
</div>
