{% extends 'polozka_new.html' %}
{% load static i18n %}
{% load custom_filters %}

{% block extra_css_polozka %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/main_mobile.css' %}" rel="stylesheet">
    <link href="{% static 'css/search2.css' %}" rel="stylesheet">
    <link href="{% static 'css/polozka_profile_view.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/polozka_profile_view2.css' %}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Uni+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- uni sans font link -->
{% endblock %}

{% block polozka %}
    {% comment %}
    {% include 'search_header_search_bar.html' %}
    {% endcomment %}
    {% include 'main_menu.html' %}

    <div class="main-container">
        <h1><img src="/static/media/Farmeris_png_final.png" alt="Farmeris Logo">Farmeris</h1>
        <!-- <h3>farmeris-sk@proton.me</h3> -->
    </div>
    <!-- <div class="recommended-product">
         <div class="">
         <p>Odporucane polozky</p>
         </div>
         </div> -->
    <!--
         <div class="recommended-farm">
         <p>Odporucana farma</p>
         </div>
         {% comment %}
         {% for product in products %}
         {% include 'polozka_profile_view.html' with username=request.user.username nazov_produktu=product.nazov_produktu polozka=product %}
         {% endfor %}
         {% endcomment %}

    -->
{% endblock %}
